/* BUTTONS */

.btn-bm {
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  text-decoration: none;
  display: inline-block;
  padding: 8px 24px;
}

.btn-bm.btn-bm-border {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
}

.btn-bm.btn-bm-large {
  width: 360px !important;
}

.btn-bm.btn-bm-xlarge {
  width: 420px !important;
}

.admin_button.button {
  width: auto;
}

#form-contact input.button {
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  /* .btn-bm {
    width: 250px !important;
  } */

  .btn-bm.btn-bm-large {
    width: 280px !important;
  }

  .banner.banner-homepage {
    height: auto;
    padding: 30px 0;
    background: none;
  }
}
