/* - colors - */

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #f5f5f5 !important;
}

.bg-lightgrey {
  background-color: #fafafa !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-black * {
  color: #fff !important;
}

.shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
