.event-head .intro-my-event p {
  font-size: 16px;
  line-height: 26px;
}

.event-image img {
  object-fit: cover;
  height: 100%;
}

.event-image img {
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 500px) {
  #events-show .line {
    transform: rotate(90deg);
  }

  section.event-head {
    padding: 20px;
  }

  #events-show .event-head > .row > .columns,
  #events-show .event-stats {
    width: auto !important;
    flex-direction: column;
  }

  #events-show.mobile .event-head > .row {
    height: auto;
  }

  .event-image img {
    width: 100%;
    object-position: center;
  }
}
