.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.d-none {
  display: none !important;
}

label {
  text-align: left;
}

/* ------ RESPONSIVE ------ */

@media screen and (max-width: 500px) {
  br {
    display: none;
  }
}
