.banner {
  height: 500px;
  width: 100vw;
}

.banner.homepage {
  background: var(--red);
}

.banner.homepage > * {
  width: 50%;
}

.banner.homepage .banner-text {
  padding-left: 100px;
}

.banner.homepage .banner-text * {
  color: white;
  text-align: left;
}

.banner.homepage h1 {
  margin-bottom: 50px;
}

.banner.homepage .banner-text p {
  font-size: 2rem;
}

.banner.homepage img {
  height: 100%;
  object-fit: cover;
}

.bg-pattern {
  background: url("https://collecter.associationaida.org/cdn.iraiser.eu/rVU1rvKtygDFflUNVfq+j05p2W0rrZgK5cZXqrMvdMGtRxbkuISsZl8iv4eUec/g/Cecile_Dezy/origin/layoutquadri2x.png");
}

@media screen and (max-width: 500px) {
  .banner.homepage {
    flex-direction: column-reverse;
    height: auto;
  }

  .banner.homepage .banner-text {
    padding-left: 0;
    padding: 10px 25px;
  }

  .banner.homepage > * {
    width: 100%;
  }

  .banner.homepage h1 {
    margin-bottom: 25px;
  }

  .banner.homepage .banner-text p {
    font-size: 1.5rem;
  }
}
