.btn-bm,
button,
.button {
  padding: 8px 32px;
  font-size: 18px;
  background-color: var(--red) !important;
  border-color: var(--red);
}

.btn-bm-border {
  border-color: black;
  color: black;
}

a {
  color: var(--red);
}
