.btn-bm,
button,
.button {
  padding: 8px 32px;
  font-size: 18px;
  background-color: var(--red) !important;
  border-color: var(--red);
  font-family: "Helvetica";
}

.btn-bm-border {
  border-color: rgb(19, 0, 0);
  color: rgb(19, 0, 0);
}

.btn-bm-border:hover {
  border-color: black;
  color: black;
}

a {
  color: var(--red);
}

div.ChoixPublication .button {
  text-transform: none;
  font-size: 12px;
  margin-bottom: 1px;
  line-height: 12px;
  padding: 5px;
}

.banner.about .banner-text .btn-bm {
  background-color: white !important;
  border-color: white !important;
  color: var(--red) !important;
}
