@font-face {
  font-family: "Jellee";
  src: url("https://cecile-dzy-ncl.github.io/BM/aida/fonts/Jellee-Roman.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("https://cecile-dzy-ncl.github.io/BM/aida/fonts/Helvetica.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("https://cecile-dzy-ncl.github.io/BM/aida/fonts/Helvetica-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

body,
p {
  font-family: "Helvetica";
}

body.homepage,
body.homepage p {
  text-align: center;
}

h1,
h2,
h3,
h4,
h2 span {
  font-family: "Jellee" !important;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

.steps h2 {
  font-size: 1.5rem;
  position: relative;
}

.pages-show.conseils .steps h2:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 76px;
  /* background: white; */
  left: 0;
  bottom: -20px;
  background: var(--red);
}

h3 a,
h3 a:hover,
h3 a:focus {
  color: var(--red);
}

h6 {
  font-size: 14px;
}

p {
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}
