#indexs-index .bg-secondary-color-blurred {
  background-color: white;
}

.steps .text-left,
.steps .text-left * {
  text-align: left;
}

.steps h2 {
  font-size: 2rem;
}

.steps h6 {
  font-size: 1.15rem;
}

.section-home-projects .panel.radius {
  background: white;
}
