#projects-show .notifications_intro #end {
  color: white;
}

.container-large-bm {
  width: 80%;
}

@media screen and (max-width: 500px) {
  .steps .row-bm .container-small-bm {
    width: 100% !important;
  }

  .steps .text-left .container-small-bm {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .steps .w-66 {
    width: 100%;
  }
}
