#projects-show .notifications_intro #end {
  color: white;
}

.container-large-bm {
  width: 80%;
}

@media screen and (max-width: 500px) {
  .steps .row-bm .container-small-bm {
    width: 100% !important;
  }

  .steps .text-left .container-small-bm {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .steps .text-right .container-small-bm {
    /* flex-direction: column-reverse; */
    align-items: flex-end;
  }

  .steps .w-66,
  .w-50.steps {
    width: 100%;
  }
}
