.section-my-event {
  margin-top: 50px;
}

.event-head .bg-secondary-color-blurred {
  background-color: white;
}

#events-show .block-share-container h4 span:before,
#events-show .block-share-container h4 span:after {
  background-color: var(--red);
}

.event-head .details-my-event .infos-money .current-amount {
  color: var(--red);
  font-family: "Jellee";
}

.event-head .intro-my-event:after {
  background-color: rgba(255, 255, 255, 0.8);
}

.infos-money .infos-money-details .info-money.detail {
  color: grey;
}
