/* ------------------- COLORS ------------------- */

/*

corail : #FE5F5E;
blue: #0061AF

*/


/* BLACK */
.ahph .black {
  color: #000000 !important;
}

/* CORAIL */
.ahph .corail {
  color: #FE5F5E !important;
}

.ahph .bg-corail {
  background: #FE5F5E !important;
}

/* BLUE */
.ahph .blue {
  color: #0061AF !important;
}

.ahph .bg-blue {
  background-color: #0061AF !important;
}

/* GREY */
.ahph .bg-grey {
  background-color: #FAFAFA !important;
}

/* GENERAL */

h1 {
  font-size: 35px;
  line-height: 28px;
  color: #0061af;
}

h2 {
  font-size: 25px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.ahph .container-bm {
  width: 960px;
}

.ahph .container-lg-bm {
  width: 1140px;
}

.people .rounded {
  border: 0;
}

/* BUTTONS */

.btn-bm {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  padding: 11px;
}

.main-header .button {
  background-color: #0061AF;
  border-color: #0061AF;
  text-transform: uppercase;
}


/* BANNERS & WRAPPERS */

.banner.homepage {
  background: url(https://solidarite.fondationaphp.fr/cdn.iraiser.eu/pQP3GPOTza2uHGTgI9ZedJi0PrZ3I8vulVw8FxlSNuvve5IK9msV6fgpfWtXWak//iraiser_iraiser/origin/imagefond2x.jpg);
  background-size: cover;
  height: 600px;
}

.banner.homepage p {
  font-size: 17px;
  line-height: 24px;
}

.banner.homepage .container-small-bm {
  align-self: flex-end;
}

.section-home-projects {
  background: #fafafa;
}


/* HEADER & FOOTER */

#header-header > .row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.ahph header.main-header .header-spacer {
  padding-top: 0;
}

#header-header input.icon-search {
  margin: 0;
}

/* PAGE DE COLLECTE */

#projects-show .bg-secondary-color-blurred {
  background: #0061AF;
}

.section-projet-details .projet-head {
  background: white;
}

section.section-projet-details .projet-head .rounded {
    border: none;
}

.projet-head .rows {
  display: flex;
  align-items: center;
}

p.from_event,
i.fa.fa-gift {
  display: none;
}

.section-projet-details .bg-secondary-color-blurred {
  background: #F0F0F0;
}

.row.project-detail-data.p2p-detail-data {
    padding-top: 41px;
}

section.section-projet-details .projet-head .user {
  margin-right: 10px;
}



section.section-projet-details h1#show_title {
  color: #0061af;
  font-size: 27px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 9px;
}

p.team_by {
  font-size: 19px;
  line-height: 24px;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
}


/*i.fi-clock,
section.section-projet-details .infos-money .chart-wrap .percent {
  color: #000;
}*/

section.section-projet-details .project-detail-data .jours-restants #show_days,
section.section-projet-details .project-detail-data .jours-restants .contributeurs {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

section.section-projet-details .project-detail-data .contributeurs {
  margin-top: 0.75rem;
}

#show_days span,
.contributeurs span {
  font-size: 36px;
  line-height: 27px;
}

section.section-projet-details .project_boutons_give {
  background: #FE5F5E;
  font-family: "Open Sans";
  text-transform: uppercase;
  height: 50px;
  /*line-height: 50px;*/
  min-height: auto !important;
  background: #FE5F5E !important;
}

#show_team {
    background: #F3F5F0;
}

.block-share-container h4 span {
    color: white;
}

section.section-projet-details .project-detail-data .project_boutons_join {
  background: transparent;
}

.block-share-container {
  padding-bottom: 3px;
  background: #0061AF;
}

.social_network_send, .social_network_share {
  filter: invert(1);
}

#project_tabs .bg-color-light {
  background: white;
}

.tabs dd a {
  color: black;
  font-size: 14px;
  line-height: 22px;
  background: #F5F5F5;
}

.tabs dd.active a {
  background-color: #0061af;
  color: white;
}

#show_description {
  font-size: 19px;
  line-height: 24px;
  color: #000;
}

section#project_tabs + section .row {
  max-width: 100%;
  background : url("https://solidarite.fondationaphp.fr/cdn.iraiser.eu/pQP3GPOTza2uHGTgI9ZedJi0PrZ3I8vulVw8FxlSNuvve5IK9msV6fgpfWtXWak//iraiser_iraiser/origin/imagefondpiedpage2x.jpg");
  background-position: bottom center;
  background-size: cover;
}


.project_event_description {
  height: 600px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  width: 65%;
  position: relative;
}

.tabs-content .active.content {
    padding-top: 50px;
}

/**/

/*.project_event_description .d-flex {
  margin-top: 30px;
}

.project_event_description .d-flex div {
  width: 70%;
  padding-left: 50px;
}*/
