/* ------------------- COLORS ------------------- */

/*

corail : #FE5F5E;
blue: #0061AF

*/


/* BLACK */
.ahph .black {
  color: #000000 !important;
}

/* CORAIL */
.ahph .corail {
  color: #FE5F5E !important;
}

.ahph .bg-corail {
  background: #FE5F5E !important;
}

/* BLUE */
.ahph .blue {
  color: #0061AF !important;
}

.ahph .bg-blue {
  background-color: #0061AF !important;
}

/* GREY */
.ahph .bg-grey {
  background-color: #FAFAFA !important;
}

/* GENERAL */

h1 {
  font-size: 35px;
  line-height: 28px;
}

h2 {
  font-size: 25px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.ahph .container-bm {
  width: 960px;
}

.ahph .container-lg-bm {
  width: 1140px;
}

/* BUTTONS */

.btn-bm {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  padding: 11px;
}


/* BANNERS & WRAPPERS */

.banner.homepage {
  background: url(https://solidarite.fondationaphp.fr/cdn.iraiser.eu/pQP3GPOTza2uHGTgI9ZedJi0PrZ3I8vulVw8FxlSNuvve5IK9msV6fgpfWtXWak//iraiser_iraiser/origin/imagefond2x.jpg);
  background-size: cover;
  height: 600px;
}

.banner.homepage p {
  font-size: 17px;
  line-height: 24px;
}

.banner.homepage .container-small-bm {
  align-self: flex-end;
}

.section-home-projects {
  background: #fafafa;
}

#header-header > .row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#header-header input.icon-search {
  margin: 0;
}
