.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}
.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.h-80 {
  height: 80%;
}

.h-25p {
  height: 25px;
}

.h-80p {
  height: 80px;
}

.w-25p {
  width: 25px;
}

/* - text - */

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text-deco-none {
  text-decoration: none !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-light {
  font-weight: lighter;
}

/* - colors - */

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #F5F5F5 !important;
}

/* - boxes - */

.container-bm {
  width: 960px;
  margin: 0 auto;
}

.container-small-bm {
  width: 750px;
  margin: 0 auto;
}

.border-black {
  border-color: #000 !important;
}

/* - margins & paddings - */

.m-auto {
  margin: auto !important;
}

.mtn-5 {
  margin-top: -5px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-130 {
  margin-bottom: 130px !important;
}

.mbn-5 {
  margin-bottom: -5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.m-0 {
  margin: 0 !important;
}

.mln-30 {
  margin-left: -30px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-60 {
  padding: 60px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pl-10 {
  padding-left: 10px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-320 {
  padding-left: 320px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-50 {
  padding-right: 50px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

/* - img - */

.object-position-bottom {
  object-position: bottom;
}

.object-fit-contain {
  object-fit: contain;
}

.brbl-100 {
  border-radius: 0 0 0 100px;
}

.brtr-100 {
  border-radius: 0 100px 0 0;
}

/* --- OVERWRITE IRAISER --- */

/* - menu - */

header.main-header section#header-header {
  box-shadow: none;
}

.row-1 {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E6EBEB;
}

.row-2 {
  height: 47px;
  width: 100%;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-2 a {
  /*color: #000;*/
  text-decoration: none;
}

.line {
  box-sizing: border-box;
  height: 16px;
  border: 0.5px solid #000000;
  margin: 60px;
}

#main-nav section.top-bar-section li:not(:last-child) {
  position: relative;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  background: #000 !important;
  content: '';
  height: 22px;
  width: 1px;
  position: absolute;
  bottom: 11px;
  right: 0;
}

/* - container - */

.container-bm {
  width: 1140px;
  margin: 0 auto;
}

.section-home-projects {
  background: #f0f0f0;
  padding-top: 25px;
}

div#wrapper {
  background: white;
}

#indexs-index .intro {
  padding: 0;
  margin: 0;
}

.habillage .row {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.habillage .row .row, .habillage .section-projets .row, .habillage .section-home-projects .row, .section-projet-details, #project_tabs, section.project_event_description, section.event-head, section.section-my-event .row, .stats-event, #footer-collecte {
  max-width: 71.25em;
  margin: 0 auto;
}

.progress {
  border: none;
}

.infos-money .progress .graph-bar {
  border-radius: 0;
}

.container {
  padding: 0 !important;
  color: #000;
}



.top-bar-section li:not(.has-form) a:not(.button) {
}

.top-bar-section ul li > a,
footer a,
.projects-list a,
.event-description a,
#projects_pager a,
#project_tabs a,
.project-detail-data.p2p-detail-data a  {
  text-decoration: none;
}

.top-bar-section a:hover, .main-header .top-bar-section ul li:hover:not(.has-form) > a
.top-bar-section a.active {
}

.row.bg-color-light-blurred.first-section {
  background: #fff;
}

section.top-bar-section {
  background: #F0F0F0 !important;
}

section#header-header {
  box-shadow: none !important;
}

.top-bar li a {
  /*font-size: 15px !important;*/
}

.top-bar-section a {
}

.bg-primary-color {
  background-color: #6ed7e5 !important;
}

.bg-secondary-color-blurred {
  /*  background-color: rgba(240,240,240); */
}

/* BANNER */

.banner {
  background-size: cover;
  height: 631px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* BUTTONS */

.btn-bm {
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;
  text-decoration: none;
}

.btn-bm.btn-bm-border {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
}


.admin_button.button {
    width: auto;
}

/* CARDS */

.row-bm {
  display: flex;
  justify-content: space-between;
}

.card-bm-img {
  width: 100%;
}

.card-bm-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-bm-description > * {
  margin: 0 auto;
}

/* HEIGHTS */

.h-360 {
  height: 360px;
}

.h-350 {
  height: 350px;
}

.h-335 {
  height: 335px;
}

.h-100 {
  height: 100% !important;
}

.h-300 {
  height: 300px;
}

.top-n75 {
  top: -75px;
}

/* WRAPPERS */

.wrapper {
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 76px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 22px;
}
