@import url("css/banner.css");
@import url("css/border.css");
@import url("css/buttons.css");
@import url("css/colors.css");
@import url("css/container.css");
@import url("css/flexbox.css");
@import url("css/image.css");
@import url("css/reset.css");
@import url("css/sizes.css");
@import url("css/spacing.css");
@import url("css/text.css");
@import url("css/utilities.css");
@import url("css/wrapper.css");

.brbl-100 {
  border-radius: 0 0 0 100px;
}

.brtr-100 {
  border-radius: 0 100px 0 0;
}

.br-trbl-100 {
  border-radius: 0 100px 0 100px;
}

.brbl-60 {
  border-radius: 0 0 0 60px;
}

.brtr-60 {
  border-radius: 0 60px 0 0;
}

.brtop-6 {
  border-radius: 6px 6px 0 0;
}

.brbottom-6 {
  border-radius: 0 0 6px 6px;
}

.br-6 {
  border-radius: 6px;
}

.section-home-projects {
  background: #f0f0f0;
  padding-top: 25px;
}

div#wrapper {
  background: white;
}

#indexs-index .intro {
  padding: 0;
  margin: 0;
}

.habillage .row {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.progress {
  border: none;
  background: none;
}

.infos-money .progress .graph-bar {
  border-radius: 0;
}

.container {
  padding: 0 !important;
  color: #000;
}

.top-bar-section ul li > a,
footer a,
.projects-list a,
.event-description a,
#projects_pager a,
#project_tabs a,
.project-detail-data.p2p-detail-data a {
  text-decoration: none;
}

.top-bar-section a:hover,
.main-header
  .top-bar-section
  ul
  li:hover:not(.has-form)
  > a
  .top-bar-section
  a.active {
}

.row.bg-color-light-blurred.first-section {
  background: #fff;
  /*padding-top: 20px;*/
}

section.top-bar-section {
  background: #f0f0f0 !important;
}

section#header-header {
  box-shadow: none !important;
}

.bg-primary-color {
  background-color: #6ed7e5 !important;
}

.fa-gift {
  display: none;
}

.event-head .intro-my-event p {
  font-size: 16px;
  line-height: 26px;
}

.projet-head .medium-3 {
  display: none;
}

.projet-head .medium-9 {
  width: 100%;
}

.event-image img {
  object-fit: cover;
  height: 100%;
}

/* COMPTEUR */

.compteur {
  display: flex;
}

.compteur > div {
  width: 50%;
}

/* CARDS */

.row-bm {
  display: flex;
  justify-content: space-between;
}

.card-bm {
  display: flex;
  flex-direction: column;
}

.card-bm-img {
  width: 100%;
  object-fit: cover;
}

.card-bm-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-bm-description > * {
  margin: 0 auto;
}

.wrapper [class*="column"] + [class*="column"]:last-child {
  float: none !important;
}

#wrapper .global-container {
  padding-bottom: 2.625rem;
}

/* FOOTER */

footer {
  margin-top: -2.625rem;
  height: 48px;
}

footer,
footer .top-bar-section li:not(.has-form) a:not(.button),
footer .top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #000;
}

footer .bottom-bar .left li:not(:last-child) a {
  position: relative;
}

footer .bottom-bar .left li:not(:last-child) a:after {
  background: #fff !important;
  content: "";
  height: 22px;
  width: 1px;
  position: absolute;
  bottom: 11px;
  right: 0;
}

footer a:hover {
  color: white !important ;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  text-transform: uppercase;
  font-size: 13px;
}

footer .top-bar-section ul.right {
  display: block;
}

footer ul.right img {
  width: 146px;
}

footer section.top-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000 !important;
}

footer .top-bar-section ul {
  min-height: auto;
}

footer section ul.left li {
  display: none;
}

footer section ul.left li:last-child {
  display: block !important;
}

footer section ul.left li:first-child,
footer section ul.left li:nth-child(2) {
  display: none;
}

footer section ul.left li ul.center li {
  display: block;
}

.top-bar-section ul li > a {
  font-weight: 400 !important;
}

/* HEIGHTS */

.h-0 {
  height: 0px;
}

.h-50 {
  height: 50%;
}

.h-315 {
  height: 315px;
}

.h-360 {
  height: 360px;
}

.h-350 {
  height: 350px;
}

.h-335 {
  height: 335px;
}

.h-100 {
  height: 100% !important;
}

.h-300 {
  height: 300px;
}

.h-560 {
  height: 560px;
}

.h-500 {
  height: 500px;
}

.h-850 {
  height: 850px;
}

.h-1000p {
  height: 1000px;
}

.top-n40 {
  top: -40px;
}

.top-n75 {
  top: -75px;
}

.top-n100 {
  top: -100px;
}

/* WRAPPERS */

.wrapper {
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  width: 76px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 22px;
}

.shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

#projects-new .tabs {
  margin-top: 20px;
}

#events-show .block-share-container .social-btns {
  display: flex;
  margin: auto;
}

#projects-show .block-share-container .social-btns {
  margin: 0 0 25px 0;
}

label {
  text-align: left;
}

/* ------ PROFIL ------ */

.subhead .small-9 * {
  text-align: left !important;
}

.subhead {
  padding: 20px 0 !important;
}

#overview br {
  display: none;
}

#overview h1 {
  margin-bottom: 15px;
}

#my-profile .projects-list .panel .thumbnail img {
  width: 100%;
  max-height: none;
  object-fit: cover;
}

/* ------ PAGE DE COLLECTE ------ */

#projects-show .current-amount,
#projects-show .objectif-amount,
#projects-show #show_days,
#projects-show .contributeurs p {
  text-align: left !important;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1040px) {
  .container-bm {
    width: 75%;
  }
}

/* ------ RESPONSIVE ------ */

@media screen and (max-width: 500px) {
  #embedModal input {
    width: 100% !important;
  }

  .modal-body iframe {
    width: 100%;
  }

  #projects-widget .projects-list .panel .thumbnail {
    background: white;
  }

  br {
    display: none;
  }

  .container-bm .container-small-bm {
    width: 100%;
  }

  .btn-bm {
    width: 250px !important;
  }

  /* HOMEPAGE */

  .mobile_d-none {
    display: none;
  }

  .mobile_flex-column {
    flex-direction: column;
  }

  .mobile_flex-column-reverse {
    flex-direction: column-reverse;
  }

  .btn-bm.btn-bm-large {
    width: 280px !important;
  }

  .banner.banner-homepage {
    height: auto;
    padding: 30px 0;
    background: none;
  }

  .projects-list {
    width: 100%;
    margin: auto;
  }

  #main-nav .top-bar-section li:not(.has-form) a:not(.button) {
    font-weight: 300;
    padding: 5px;
  }

  .project-bm {
    height: auto !important;
  }

  .mobile .project-bm img {
    width: 100% !important;
  }

  .card-bm {
    width: 100% !important;
    margin: 7px auto;
  }

  .card-bm-description {
    height: 240px !important;
    padding: 0 15px !important;
  }

  .mobile .stats-event {
    height: auto;
  }

  #events-show .line {
    transform: rotate(90deg);
  }

  section.event-head {
    padding: 20px;
  }

  .mobile .stats-event-1,
  .mobile .stats-event-2 {
    width: 80%;
  }

  .section-projet-details .bx-wrapper .bx-viewport {
    height: auto !important;
  }

  .pl-320 {
    padding-left: 0px;
  }

  .steps .w-50 {
    width: 100%;
  }

  .phone {
    margin: auto !important;
  }

  .mobile .event-goup-btn {
    flex-direction: column;
  }

  .mobile .event-item .event-details .wrap {
    padding: 30px 30px 0 30px !important;
  }

  .section-events .event-item .infos-money .amount {
    margin-top: 10px;
  }

  .mobile
    .section-events
    .event-item
    .event-details
    .event-goup-btn
    .page-create {
    margin-bottom: 15px;
  }

  .mobile .project-img img {
    height: auto !important;
  }

  #events-show.mobile .event-head > .row {
    height: auto;
  }

  .donators {
    margin: 0 !important;
  }

  .donators li {
    padding: 15px 0px !important;
  }

  .project_payment #list_payment .people {
    display: flex;
    flex-direction: column;
  }

  .project_payment #list_payment .people .columns {
    width: 100%;
  }

  .project_payment #list_payment .people blockquote {
    margin: auto !important;
    float: none;
    margin-top: 10px !important;
  }

  .project_payment #list_payment .people .date,
  .project_payment #list_payment .people .name,
  .project_payment #list_payment .people .money {
    padding: 0 !important;
  }

  #projects-show.mobile .current-amount,
  #projects-show.mobile .objectif-amount,
  #projects-show.mobile #show_days,
  #projects-show.mobile .contributeurs p {
    text-align: center !important;
  }

  .mobile #project_tabs .tabs-content {
    padding: 0 30px;
  }

  .mobile .project_boutons_give {
    margin-top: 35px !important;
  }

  .mobile .section-projet-details h1#show_title {
    text-align: center !important;
    line-height: 26px !important;
    margin-bottom: 10px !important;
  }

  li.maybevideocontainer {
    height: auto;
  }

  .mobile .options {
    padding: 20px 0 !important;
  }

  .mobile .options .d-flex:first-child {
    border: none;
    margin-bottom: 20px;
  }

  .mobile .options .d-flex {
    padding: 0;
  }

  #projects-show .notifications_intro {
    margin: auto !important;
    width: 80%;
    transform: translateX(-50%);
  }

  .gritter-without-image p {
    display: flex;
    flex-direction: column;
  }

  input#project_title {
    width: 70vw !important;
  }

  .compteur {
    flex-direction: column;
  }

  .compteur > div {
    width: 100%;
    margin-bottom: 15px;
  }

  #events-show .event-head > .row > .columns,
  #events-show .event-stats {
    width: auto !important;
    flex-direction: column;
  }

  .event-stat {
    width: 100%;
  }

  #embedModal {
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  .block-share-container h4 span:before,
  .block-share-container h4 span:after {
    width: 2rem;
  }

  .tabs dd.active a {
    border-right: 0;
  }
}
