/* ------------------- FONTS ------------------- */

@font-face {
  font-family: 'museo';
  src: url('https://cecile-dzy-ncl.github.io/BM/arc/fonts/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:"museo-sans";
  src:url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family:"museo-sans";
  src:url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display:auto;
  font-style:italic;
  font-weight:300;
}

@font-face {
  font-family:"museo-sans";
  src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family:"museo-sans";

  src:url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");

  font-display:auto;
  font-style:italic;
  font-weight:700;

}

.museo {
  font-family: "museo";
}

/* ------------------- COLORS ------------------- */

/*
pink: #C32762
pink-tdr: #ED217C
blue: #009CBB
darkblue: #233355
green: #4CA76B
green-m: #005B42
orange: #E85252

lightblue: #E9F4FD
yellow: #FEB700
*/

/* BLACK */

.arc .black {
  color: #1C1D33 !important;
}

/* BLUE */
.arc .blue {
  color: #009CBB !important;
}

.arc .bg-blue {
  background-color: #009CBB !important;
}

.arc .border-blue {
  border-color: #009CBB !important;
}

.arc .lightblue {
  color: #E9F4FD !important;
}

.arc .bg-lightblue {
  background-color: #E9F4FD !important;
}

.arc .border-lightblue {
  border-color: #E9F4FD !important;
}

.arc .darkblue {
  color: #233355 !important;
}

.arc .bg-darkblue {
  background-color: #233355 !important;
}

.arc .border-darkblue {
  border-color: #233355 !important;
}

/* PINK */

.arc .pink {
  color: #C32762 !important;
}

.arc .bg-pink {
  background-color: #C32762 !important;
}

.arc .pink-tdr {
  color: #ED217C !important;
}

.arc .bg-pink-tdr {
  background-color: #ED217C !important;
}

/* GREEN */

.arc .green {
  color: #4CA76B !important;
}

.arc .bg-green {
  background-color: #4CA76B !important;
}

.arc .border-green {
  border-color: #4CA76B !important;
}

/* YELLOW */

.arc .yellow {
  color: #FDB913 !important;
}

.arc .bg-yellow {
  background-color: #FDB913 !important;
}



/* ORANGE */

.arc .orange {
  color: #E85252 !important;
}

.arc .bg-orange {
  background-color: #E85252 !important;
}

/*.bg-secondary-color-blurred {
background-color: #124D66;
}*/


/* GENERAL */

h2,
h1#show_title {
  font-family: "museo-sans";
  font-size: 30px;
  line-height: 36px;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container-medium-bm {
  width: 1044px;
}

/* BUTTONS */

.arc .btn-bm {
  color: #fff;
  padding: 8px 24px;
}

.arc .btn-bm a {
  color: #fff;
}

.arc .btn-bm.border {
  border-width: 2px;
}


/* BANNERS */

.arc .banner {
  height: 540px;
  justify-content: flex-end;
}

.arc .bg-pattern {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/layoutquadri2x.png);
  background-size: 63%;
}

.homepage .banner {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/homepagebannerarc.jpg);
  background-size: cover;
}

.triathlon-des-roses-2020 .banner {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 100%), url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/a-proposimagearc.jpg);
  background-size: cover;
}


.marathon-de-paris-2020-fr .banner {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.85) 100%), url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/bannermarathon.png);
  background-size: cover;
}

.marathon-de-paris-2020-fr .banner h1 {
  color: #005B42;
}

.banner-text {
  width: 560px;
  margin-right: 150px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* BLOCS */

.steps h2 {
  position: relative;
}

.steps h2:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 76px;
  background: white;
  left: 0;
  bottom: -20px;
}

.steps h2.text-right:after {
  right: 0;
  left: auto;
}

.steps.bg-grey h2:after {
  background: #009CBB;
}

.a-propos .steps h2:after {
  background: #C32762;
}

.a-propos .steps h2.white:after,
.triathlon-des-roses-2020 .steps.bg-pink-tdr h2:after {
  background: #ffffff;
}

.triathlon-des-roses-2020 .steps h2:after {
  background: #ec207c;
}

.arc .card-bm {
  width: 32%;
}


/* PAGES DE COLLECTE */


.projet-head {
  background-color: white;
}

#events-show .bg-color-light-blurred,
#project_tabs .bg-color-light {
  background: white;
}

.project_content p {
  text-align: left;
}

#project_tabs a {
  text-decoration: none;
  font-size: 14px;
}

.project_boutons_give {
  background: #C32762 !important;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  margin-top: 0 !important;
  min-height: auto  !important;
  line-height: 50px  !important;
  padding-top: 0  !important;
}

.row.project-detail-data.p2p-detail-data {
  padding-top: 36px !important;
}

.social_network_send,
.social_network_share {
  filter: invert(1);
}

.block-share-container {
  background-color: #23a8c2;
  padding-bottom: 27px;
}

.block-share-container h4 {
  color: white;
}

#projects-widget #projects li {
  padding-left: 0;
  padding-right: 0;
}

#projects-widget #wrapper {
  background: #F5F5F5;
}

#projects-show .current-amount {
  font-size: 50px;
  line-height: 60px;
}

#projects-show #show_days span,
#projects-show .contributeurs span {
  font-size: 30px;
  line-height: 36px;
}

#projects-show .current-amount,
#projects-show .percent,
#projects-show #show_days span,
#projects-show .contributeurs span {
  font-family: "museo-sans";
}

section.section-projet-details .project-detail-data .contributeurs i {
  font-size: 33px;
  line-height: initial;
}

/* PAGE PROJET */

.event-head {
  display: flex;
  flex-direction: column;
}

.event-head > .row {
  display: flex;
  align-items: center;
}


.event-head .intro-my-event {
  padding: 0;
}

.event-head .details-my-event {
  padding: 0 50px;
}

.event-head .intro-my-event:after {
  top: -35px;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* PAGE EVENTS */


#events-index h1 {
  display: none;
}

#events-index .first-section {
  padding-top: 0;
}

.section-events .event-item .event-details {
  background: #f5F5F5;
}

.section-events .event-item .event-details .event-goup-btn .page-create,
.section-events .event-item .event-details .event-goup-btn .page-see {
  width: 250px;
  border-radius: 0;
}

.section-events .event-item .event-details .event-goup-btn .page-create {
  border: 2px solid #009cbb;
}

.section-events .event-item .event-details .event-goup-btn .page-see,
.section-home-projects .button {
  background-color: transparent;
  border: 2px solid #1C1D33;
  color: #1C1D33;
}

.event-details .row {
  display: flex;
  flex-direction: column;
}

.section-events .event-item .event-description .infos,
.section-events .event-item .infos-money .projets {
  display: none;
}

.event-details .medium-7, .event-details .medium-4 {
  width: 100%;
}

.event-item .panel .event-details .wrap {
  padding: 60px 80px 0;
}

.event-item .panel .event-details .wrap,
.event-item .panel .event-details .wrap p {
  text-align: center !important;
}

ul.button-group.radius.event-goup-btn {
  position: initial !important;
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-bottom: 16px;
}

.event-item .event-details .wrap {
  height: 300px;
}

.section-events .event-item .infos-money .amount {
  color: #009CBB;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
}

.big {
  font-family: "museo-sans";
  color: #009cbb;
}

/* CONSEILS OUTILS */

.pages-show.conseils .steps h2:after {
  background: #009CBB;
}

/* FORMS */

#projects-new #step_tab .click_tabs {
  background-color: rgb(0, 156, 187);
}

#projects-new #step_tab {
  margin-top: 66px;
}

#projects-new .btn-next {
  margin: auto;
  display: block;
  width: 20%;
}

#projects-new label {
  text-align: left;
}
.controls {
  display: flex;
}

#form-project input[type="text"],
#form-project input[type="password"],
#form-project input[type="date"],
#form-project input[type="datetime"],
#form-project input[type="datetime-local"],
#form-project input[type="month"],
#form-project input[type="week"],
#form-project input[type="email"],
#form-project input[type="number"],
#form-project input[type="search"],
#form-project input[type="tel"],
#form-project input[type="time"],
#form-project input[type="url"],
#form-project input[type="color"],
#form-project select {
  border-color: #1C1D33;
  background-color: white;
  width: 100%;
}

.controls .g-recaptcha {
  margin: 15px auto 30px auto !important;
}

#projects-new input[type="text"],
#projects-new input[type="password"],
#projects-new input[type="date"],
#projects-new input[type="datetime"],
#projects-new input[type="datetime-local"],
#projects-new input[type="month"],
#projects-new input[type="week"],
#projects-new input[type="email"],
#projects-new input[type="number"],
#projects-new input[type="search"],
#projects-new input[type="tel"],
#projects-new input[type="time"],
#projects-new input[type="url"],
#projects-new input[type="color"],
#projects-new select,
#projects-new .habillage label, #projects-new .habillage p {
  font-size: 19px;
  line-height: 24px;
}

#projects-new  .large-3 {
  width: 100%;
}

/* HEADER & FOOTER */

.arc #header-header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0
}

.arc #main-nav .top-bar-section {
  background-color: #fff !important;
  border-bottom: 1px solid #979797;
}

.arc .top-bar-section ul li > a {
  font-family: "museo-sans";
  font-size: 10px;
  line-height: 13px;
}

.arc #main-nav section.top-bar-section li:not(:last-child):after {
  background: #979797 !important;
}

