/* ------------------- FONTS ------------------- */

@font-face {
  font-family: 'museo';
  src: url('https://cecile-dzy-ncl.github.io/BM/arc/fonts/museosans_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.museo {
  font-family: "museo";
}

/* ------------------- COLORS ------------------- */

/*
pink: #C32762
blue: #009CBB
darkblue: #233355

lightblue: #E9F4FD
green: #54C381
yellow: #FEB700
orange: #EC5C2F
*/

/* BLUE */

.arc .blue {
  color: #009CBB;
}

.arc .bg-blue {
  background-color: #009CBB !important;
}

.arc .border-blue {
  border-color: #009CBB !important;
}

.arc .lightblue {
  color: #E9F4FD;
}

.arc .bg-lightblue {
  background-color: #E9F4FD !important;
}

.arc .border-lightblue {
  border-color: #E9F4FD !important;
}

.arc .darkblue {
  color: #233355;
}

.arc .bg-darkblue {
  background-color: #233355 !important;
}

.arc .border-darkblue {
  border-color: #233355 !important;
}

/* GREEN */

.arc .green {
  color: #54C381;
}

.arc .bg-green {
  background-color: #54C381 !important;
}

.arc .border-green {
  border-color: #54C381 !important;
}

/* YELLOW */

.arc .yellow {
  color: #FDB913;
}

.arc .bg-yellow {
  background-color: #FDB913 !important;
}

/* PINK */

.arc .pink {
  color: #C32762;
}

.arc .bg-pink {
  background-color: #C32762 !important;
}

/* ORANGE */

.arc .orange {
  color: #EC5C2F;
}

.arc .bg-orange {
  background-color: #EC5C2F !important;
}

/*.bg-secondary-color-blurred {
  background-color: #124D66;
}*/


/* GENERAL */

h2 {
  font-family: "museo";
  font-size: 30px;
  line-height: 36px;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}


/* BUTTONS */

.arc .btn-bm {
  color: #fff;
  padding: 8px 24px;
}

.arc .btn-bm a {
  color: #fff;
}

/* BANNERS */

.arc .banner {
  height: 540px;
  justify-content: flex-end;
}

.homepage .banner {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/homepagebannerarc.jpg);
  background-size: cover;
}

.a-propos .banner {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/mainimagearc.jpg);
  background-size: cover;
}

.banner-text {
  width: 560px;
  margin-right: 150px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


/* HEADER & FOOTER */

.arc section.top-bar-section {
  background: #FFFFFF !important;
}

