/* ------------------- FONTS ------------------- */

@font-face {
font-family: 'museo';
src: url('https://cecile-dzy-ncl.github.io/BM/arc/fonts/museosans_500-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/620bf8/00000000000000000000e7fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;
font-style:normal;
font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/5cca6d/00000000000000000000e802/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;
font-style:italic;
font-weight:300;
}

@font-face {
font-family:"museo-sans";
src:url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e3ca36/00000000000000000000e805/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;
font-style:normal;
font-weight:700;
}

@font-face {
font-family:"museo-sans";

src:url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2841b6/00000000000000000000e806/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");

font-display:auto;
font-style:italic;
font-weight:700;

}

.museo {
font-family: "museo";
}

/* ------------------- COLORS ------------------- */

/*
pink: #C32762
pink-tdr: #ED217C
blue: #009CBB
darkblue: #233355
green: #4CA76B
orange: #E85252

lightblue: #E9F4FD
yellow: #FEB700
*/

/* BLACK */

.arc .black {
color: #1C1D33 !important;
}

/* BLUE */
.arc .blue {
color: #009CBB !important;
}

.arc .bg-blue {
background-color: #009CBB !important;
}

.arc .border-blue {
border-color: #009CBB !important;
}

.arc .lightblue {
color: #E9F4FD !important;
}

.arc .bg-lightblue {
background-color: #E9F4FD !important;
}

.arc .border-lightblue {
border-color: #E9F4FD !important;
}

.arc .darkblue {
color: #233355 !important;
}

.arc .bg-darkblue {
background-color: #233355 !important;
}

.arc .border-darkblue {
border-color: #233355 !important;
}

/* PINK */

.arc .pink {
color: #C32762 !important;
}

.arc .bg-pink {
background-color: #C32762 !important;
}

.arc .pink-tdr {
color: #ED217C !important;
}

.arc .bg-pink-tdr {
background-color: #ED217C !important;
}

/* GREEN */

.arc .green {
color: #4CA76B !important;
}

.arc .bg-green {
background-color: #4CA76B !important;
}

.arc .border-green {
border-color: #4CA76B !important;
}

/* YELLOW */

.arc .yellow {
color: #FDB913 !important;
}

.arc .bg-yellow {
background-color: #FDB913 !important;
}



/* ORANGE */

.arc .orange {
color: #E85252 !important;
}

.arc .bg-orange {
background-color: #E85252 !important;
}

/*.bg-secondary-color-blurred {
background-color: #124D66;
}*/


/* GENERAL */

h2 {
  font-family: "museo-sans";
  font-size: 30px;
  line-height: 36px;
}

h6 {
  font-size: 14px;
  font-weight: normal;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container-medium-bm {
  width: 1044px;
}

/* BUTTONS */

.arc .btn-bm {
  color: #fff;
  padding: 8px 24px;
}

.arc .btn-bm a {
  color: #fff;
}

.arc .btn-bm.border {
  border-width: 2px;
}


/* BANNERS */

.arc .banner {
  height: 540px;
  justify-content: flex-end;
}

.arc .bg-pattern {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/layoutquadri2x.png);
  background-size: 63%;
}

.homepage .banner {
  background: url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/homepagebannerarc.jpg);
  background-size: cover;
}

.triathlon-des-roses-2020 .banner {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 100%), url(https://collecter.fondation-arc.org/cdn.iraiser.eu/8v+/iZhRxdeu2BVNVycHEZ06vL2iKxpZId225sg6zFv3invHFgijE79b/k15iwJG/Simon_Romain/origin/a-proposimagearc.jpg);
  background-size: cover;
}

.banner-text {
  width: 560px;
  margin-right: 150px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* BLOCS */

.steps h2 {
  position: relative;
}

.steps h2:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 76px;
  background: white;
  left: 0;
  bottom: -20px;
}

.steps h2.text-right:after {
  right: 0;
  left: auto;
}

.steps.bg-grey h2:after {
  background: #009CBB;
}

.a-propos .steps h2:after {
  background: #C32762;
}

.a-propos .steps h2.white:after,
.triathlon-des-roses-2020 .steps.bg-pink-tdr h2:after {
  background: #ffffff;
}

.triathlon-des-roses-2020 .steps h2:after {
  background: #ec207c;
}

.arc .card-bm {
  width: 32%;
}


/* HEADER & FOOTER */

#projects-widget #projects li {
  padding-left: 0;
  padding-right: 0;
}


/* HEADER & FOOTER */

.arc #header-header {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0
}

.arc header.main-header .top-bar-section {
  background: #FFFFFF !important;
}

