/* COLORS */

/*
green: #00AC98
blue: #0087BE
yellow: #FDB913
red: #C84228
*/

.fcc-be .green,
.fcc-be .big {
  color: #00AC98;
}

.fcc-be .blue {
  color: #0087BE;
}

.fcc-be .yellow {
  color: #FDB913;
}

.fcc-be .red {
  color: #C84228;
}

.fcc-be .bg-green {
  background-color: #00AC98 !important;
}

.fcc-be .bg-green-2 {
  background-color: #88D3CC !important;
}

.fcc-be .bg-blue {
  background-color: #0087BE !important;
}

.fcc-be .bg-yellow {
  background-color: #FDB913 !important;
}

.fcc-be .bg-red {
  background-color: #C84228 !important;
}

.fcc-be .border-green {
  border-color: #00AC98 !important;
}

/* GENERAL */

body {
  font-family: "Open Sans";
  margin: 0;
  text-align: center;
}

h1, h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
  color: black;
}


h6 {
  font-size: 13px;
}

p {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 20px;
}

.fcc-be .container-bm {
  width: 945px;
}

/* BANNER */

.banner-homepage {
  background-image: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/imagehomeenfantmaman.png);
  justify-content: flex-end;
  height: 540px;
  padding-right: 150px;
}

.banner-about {
  background-image: url(https://idonatefor.cancer.be/cdn.iraiser.eu/akUGyCEuK4i9kWQh//Dz1A==/project-nzpvUzpR/origin/AdobeStock192220475.jpg);
  justify-content: flex-start;
  height: 590px;
  padding-left: 150px;
}

.banner-text {
  width: 462px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* BUTTONS */

a {
  text-decoration: none;
}

button, .fcc-be .btn-bm {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  width: 300px;
  background-color: #00AC98;
  padding: 11px;
  border-radius: 0 !important;
}

.section-events .event-item .event-details .event-goup-btn .page-see {
  background-color: transparent;
  border: 2px solid #00AC98;
  color: #00AC98;
}

nav button {
  color: #00AC98;
  border: 3px solid #00AC98;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  font-weight: 300;
  background: white;
  padding: 6px;
}

a {
  color: #0087BE;
}

.fcc-be .btn-bm a {
  color: #fff;
  text-decoration: none;
}

/* GÉNÉRAL */

.card-bm-description {
  height: 206px;
  padding: 0 65px;
}

.card-bm {
  height: 462px;
  width: 462px;
}

.container-small-bm .card-bm {
  height: 366px;
  width: 366px;
}

.card-bm-img {
  height: 256px;
}

.icono {
  width: 60px;
  height: 30px;
  top: -25px;
  border-radius: 30px 30px 0 0;
  left: 202.5px;
}

#wrapper-about {
  background: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/AdobeStock2515871152x.jpg);
  background-position: 50% 85%;
}

#wrapper-entreprise {
  background: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/imagefemmecancer.jpg);
  background-position: 50% 70%;
}

.wrapper-img {
    height: 753px;
    background-size: cover !important;
    /*background-repeat: no-repeat;*/
    display: flex;
}

#wrapper-ex .row-bm {
  min-height: 350px;
}

/* MARGINS & PADDINGS */

.mb-21 {
  margin-bottom: 21px;
}

/* PAGE DE COLLECTE */

h1#show_title {
  color: #02ac98;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}


.project_boutons_give {
  background: #FDB913 !important;
  color: black !important;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.05px;
  line-height: 55px;
  text-align: center;
  margin-top: 0 !important;
}

#show_team a {
  color: black;
}

.row.project-detail-data.p2p-detail-data {
  padding-top: 23px !important;
}

.row.project-detail-data.p2p-detail-data .block-share-container {
  background-color: #02ac98;
}

.row.project-detail-data.p2p-detail-data .block-share-container .social-btns .social_network a .social_network_send {
  background-color: #7a7a7a;
}

section.section-projet-details .project-detail-data .project_boutons_give i {
  display: none;
}
.projet-head .small-12.medium-2.large-2.columns,
.projet-head .small-12.small-offset-0.medium-3.columns {
  display: none;
}

.projet-head .small-12.medium-10.large-10.columns {
  width: 100%;
  padding-left: 10px;
}

#events-show .event-head > .row {
  background: white;
  height: 450px;
}

#events-show .event-head > .row .columns,
.intro-my-event,
.intro-my-event .container {
  height: 100%;
}

.intro-my-event .container {
  padding: 75px !important;
}

.intro-my-event .container * {
  text-align: left !important;
}

.event-head .intro-my-event:after {
  background-color: #979797;
}



/* DIVERS */

.top-bar-section ul li > a {
  color: black;
  font-size: 11px;
  font-weight: 600;
}

.fcc-be .bg-secondary-color-blurred {
  background-color: rgb(2, 172, 152);
}

.bg-color-light-blurred {
  background-color: white;
}

.panel {
  background: #FFF;
  border-radius: 0px !important;
}

.reussir-projet img {
  object-fit: scale-down;
}

/* PAGE EVENT SHOW */

#events-show h1 {
  color: #00AC98;
}

.block-share-container .social-btns .social_network a .social_network_send {
  background-color: #00ac98;
}

.event-head .percent {
  font-size: 35px !important;
  margin-left: 10px;
}

.event-head .details-my-event .infos-money .current-amount {
  font-size: 29px;
}

.event-head .details-my-event .infos-money .objectif-amount {
  color: black;
  font-size: 18px;
}

.project_content p {
  text-align: justify;
}

/* PAGE EVENTS */

.events h1 {
    display: none;
}

.habillage:after {
  display: none;
}

.section-events .event-item .event-details {
  background: #f5F5F5;
}

.section-events .event-item .event-details .event-goup-btn .page-see {

}

.event-details .row {
  display: flex;
  flex-direction: column;
}

.section-events .event-item .event-description .infos,
.section-events .event-item .infos-money .projets {
  display: none;
}

.event-details .medium-7, .event-details .medium-4 {
  width: 100%;
}

.event-item .panel .event-details .wrap, .event-item .panel .event-details .wrap p {
  text-align: center !important;
}

ul.button-group.radius.event-goup-btn {
  position: initial !important;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.event-item .event-details .wrap {
  height: 311px;
}

.section-events .event-item .infos-money .amount {
  color: #2cac98;
  font-size: 15px;
  font-weight: normal;
}

.big {
  margin-right: 25px;
}

.section-home-projects {
  background: #FAFAFA !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects-list .panel h3 a, .projects-list .panel h3 a:hover {
  font-size: 15px;
}

.infos-money .progress .graph-barBack {
  background: #F0F0F0;
  border-radius: 0px;
}

.infos-money .infos-money-details .info-money.detail {
  color: #000;
  font-family: "Open Sans", sans-serif;
}

.section-home-projects .button {
  height: 40px;
  width: 300px;
  border: 2px solid #000000;
  background: transparent;
  color: #000;
  float: none !important;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 11px;
  line-height: 18px;
  font-size: 16px;
  display: block;
  margin: auto;
  font-weight: 600;
}

.event-item .event-details .wrap {
  height: 316px;
  padding: 50px 80px 0 80px !important
}

.event-goup-btn .button {
  width: 230px;
  border-radius: 0 !important;
}

#events-index .infos-money .chart-wrap {
  display: none;
}

/* LISTE DES PROJETS */

.projects h1 {
    display: none;
}

#projects .panel {
  background: #f5f5f5;
}

#projects .panel .infos-money .progress .graph-barBack {
  background: #FFF;
}

label.control_label {
  text-align: left;
  color: #000;
}

/* PARTICIPER À UN ÉVÉNEMENT */

.project-img {
  width: 366px;
  height: 366px;
}

.project-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


/* PAGE D'UN ÉVÉNEMENT */






/* ENGAGER SON ENTREPRISE */

.engager-son-entreprise .project-bm {
  height: 570px;
}



.engager-son-entreprise .project-bm .project-bm-img {
  width: 50%;
}
