/* COLORS */

/*
green: #00AC98
blue: #0087BE
yellow: #FDB913
red: #C84228
*/


/* GENERAL */

body {
  font-family: "Open Sans";
  margin: 0;
}

.fcc-be .container-bm {
  width: 945px;
}

/* BANNER */

.banner-homepage {
  background-image: url(https://mecenat-cardiaque.igive.iraiser.eu/cdn.iraiser.eu//PHfmNmZCCNB7QUqTM9I3NOf2yUoTt/WluSffNe0Y1dksgOUVeiuOFNdG2Mp0gu8/Cecile_DEZY/origin/PICT2x.jpg);
  color: #000;
}

/* BUTTONS */

button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  height: 44px;
  width: 300px;
  background-color: #fff;
}

nav button {
  color: #00AC98;
  border: 3px solid #00AC98;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  line-height: 32px;
  font-weight: 300;
}


/* PAGE DE COLLECTE */

.bg-secondary-color-blurred {
  background-color: rgb(2, 172, 152);
}



