/* COLORS */

/*
green: #00AC98
blue: #0087BE
yellow: #FDB913
red: #C84228
*/

.fcc-be .green,
.fcc-be .big {
  color: #00AC98;
}

.fcc-be .blue {
  color: #0087BE;
}

.fcc-be .yellow {
  color: #FDB913;
}

.fcc-be .red {
  color: #C84228;
}

.fcc-be .bg-green {
  background-color: #00AC98 !important;
}

.fcc-be .bg-green-2 {
  background-color: #88D3CC !important;
}

.fcc-be .bg-blue {
  background-color: #0087BE !important;
}

.fcc-be .bg-yellow {
  background-color: #FDB913 !important;
}

.fcc-be .bg-red {
  background-color: #C84228 !important;
}

.fcc-be .border-green {
  border-color: #00AC98 !important;
}

/* GENERAL */

body {
  font-family: "Open Sans";
  margin: 0;
  text-align: center;
}

h1, h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 28px;
}

h6 {
  font-size: 13px;
}

p {
  font-size: 15px;
  line-height: 21px;
}

.fcc-be .container-bm {
  width: 945px;
}

/* BANNER */

.banner-homepage {
  background-image: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/imagehomeenfantmaman.png);
  justify-content: flex-end;
  height: 540px;
  padding-right: 150px;
}

.banner-about {
  background-image: url(https://idonatefor.cancer.be/cdn.iraiser.eu/akUGyCEuK4i9kWQh//Dz1A==/project-nzpvUzpR/origin/AdobeStock192220475.jpg);
  justify-content: flex-start;
  height: 590px;
  padding-left: 150px;
}

.banner-text {
  width: 462px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* BUTTONS */

button, .fcc-be .btn-bm {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  width: 300px;
  background-color: #00AC98;
  padding: 11px;
  border-radius: 0 !important;
}

.fcc-be .btn-bm.btn-bm-border {
  background-color: transparent;
  border: 2px solid #fff;
}

.section-events .event-item .event-details .event-goup-btn .page-see {
  background-color: transparent;
  border: 2px solid #00AC98;
  color: #00AC98;
}

nav button {
  color: #00AC98;
  border: 3px solid #00AC98;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  font-weight: 300;
  background: white;
  padding: 6px;
}

a {
  color: #0087BE;
}

.fcc-be .btn-bm a {
  color: #fff;
  text-decoration: none;
}

/* GÉNÉRAL */

.card-bm-description {
  height: 206px;
  padding: 0 65px;
}

.card-bm {
  height: 462px;
  width: 462px;
}

.container-small-bm .card-bm {
  height: 366px;
  width: 366px;
}

.card-bm-img {
  height: 256px;
}

.icono {
  width: 60px;
  height: 30px;
  top: -28px;
  border-radius: 30px 30px 0 0;
  left: 202.5px;
}

#wrapper-about {
  background: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/AdobeStock2515871152x.jpg);
  height: 753px;
  background-size: cover;
  background-position: 50% 85%;
  display: flex;
}

#wrapper-ex .row-bm {
  min-height: 350px;
}

/* MARGINS & PADDINGS */

.mb-21 {
  margin-bottom: 21px;
}

/* PAGE DE COLLECTE */

.fcc-be .bg-secondary-color-blurred {
  background-color: rgb(2, 172, 152);
}

.bg-color-light-blurred {
    background-color: white;
}

.panel {
  background: #F5F5F5;
  border-radius: 0px !important;
}

.reussir-projet img {
  object-fit: scale-down;
}

/* PAGE EVENT SHOW */

#events-show h1 {
  color: #00AC98;
}

.block-share-container .social-btns .social_network a .social_network_send {
  background: #F5F5F5;
}


/* PAGE EVENTS */

.habillage:after {
  display: none;
}

.section-events .event-item .event-details {
  background: #f5F5F5;
}

.section-events .event-item .event-details .event-goup-btn .page-see {

}

.event-details .row {
  display: flex;
  flex-direction: column;
}

.section-events .event-item .event-description .infos,
.infos-money .chart-wrap,
.section-events .event-item .infos-money .projets {
  display: none;
}

.event-details .medium-7, .event-details .medium-4 {
  width: 100%;
}

.event-item .panel .event-details .wrap, .event-item .panel .event-details .wrap p {
  text-align: center !important;
}

ul.button-group.radius.event-goup-btn {
  position: initial;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.event-item .event-details .wrap {
  height: 311px;
}

.section-events .event-item .infos-money .amount {
  color: #2cac98;
  font-size: 15px;
  font-weight: normal;
}

.big {
  margin-right: 25px;
}
