/* ------------------- A ENLEVER EN PROD ------------------- */

.maintenance {
  margin-top: 160px;
}

/* section#banner_section {
  margin-top: 160px;
} */

/* ------------------- FONTS ------------------- */

@font-face {
  font-family: "DINPro";
  src: url("https://cecile-dzy-ncl.github.io/BM/msf_be/fonts/DINPro.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro_medium";
  src: url("https://cecile-dzy-ncl.github.io/BM/msf_be/fonts/DINPro-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro_bold";
  src: url("https://cecile-dzy-ncl.github.io/BM/msf_be/fonts/DINPro-Bold.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINPro_black";
  src: url("https://cecile-dzy-ncl.github.io/BM/msf_be/fonts/DINPro-Black.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* COLORS */

:root {
  --grey: #3c4150;
  --red: #ee0000;
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  /* --my-border: 1px solid #222222; */
}

.grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey) !important;
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

*,
p {
  color: var(--grey);
  font-family: "DINPro";
}

/* FONTS */
h1 {
  color: var(--grey);
  font-size: 40px;
  text-transform: uppercase;
  font-family: "DINPro_black";
  font-weight: 900;
}

h2 {
  color: var(--grey);
  font-size: 38px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

p {
  text-align: left;
}

h2,
h3 {
  font-family: "DINPro_bold";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.font-big {
  font-size: 70px;
}

#grid {
  display: none;
}

/* CONTAINER */

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.container-small-bm {
}

.container-bm {
  width: 1040px;
}
.container-large-bm {
  width: 1180px;
}

/* BUTTONS */
.btn-bm {
  border-radius: 4px;
  padding: 8px 24px;
  box-shadow: var(--shadow);
}

/* .btn-bm.btn-bm-large {
  padding: 8px 32px;
  width: auto;
} */

/* BANNER */

.banner.homepage {
  height: 738px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://events.msf-azg.be/cdn.iraiser.eu/aNFYkuVTIVlbfsFwyLwdumXCfF7Vt32hLYoBxP08oQonh4p2FZDdlnIA1Q8Tioa+/Cecile_Dezy/origin/Homepage-Header.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
}

.banner.homepage h1 {
  color: white;
  text-shadow: var(--shadow);
  font-size: 70px;
  text-transform: initial;
}

.banner.homepage h2 {
  color: white !important;
}

/* NAVBAR */

header.main-header {
  position: fixed;
  width: 100%;
  top: 0;
}

#first-header {
  height: 35px;
  background: var(--grey);
}

#first-header section.top-bar-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: transparent !important;
}

#first-header .top-bar-section > * {
  width: 125px;
}

#first-header ul {
  margin: 0;
}

#first-header ul li.has-dropdown {
  float: none;
  width: fit-content;
  margin: auto;
}

#first-header a.button,
#first-header .has-dropdown > a {
  float: none !important;
  margin: 0;
  padding: 0 !important;
  background: transparent;
  line-height: 35px;
  /* width: 125px; */
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

#first-header .top-bar-section ul .has-dropdown > a:after {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  bottom: 5px;
  top: auto;
  margin: 0 !important;
}

#first-header img {
  display: none;
}

#header-header {
  margin: 0 !important;
}

#header-header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-header .row:before,
#header-header .row:after {
  content: none;
}

#header-header .top-bar {
  display: none;
}

#header-header input {
  margin: 0;
}

.header-spacer {
  padding: 0 !important;
}

.header-spacer .search-query {
  width: 433px;
}

.header-spacer .search-query input {
  border-radius: 40px;
  border: 0;
  box-shadow: var(--shadow);
}

.header-spacer nav[role="navigation"] .top-bar-section {
  display: none;
}

.btn-actions {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.btn-actions a {
  display: block;
  width: 125px;
  text-align: center;
  color: white;
  height: 80px;
  padding: 15px;
}

.btn-actions a:hover {
  color: white;
}

.admin_button.button {
  height: 35px;
}

/* SEARCHBAR */

#bloc-cta .searchbar {
  margin-left: 10px;
}

#bloc-cta {
  display: flex;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  border-radius: 4px;
}
#bloc-cta * {
  margin: 0px;
}

#bloc-cta .btn-bm {
  text-transform: initial;
}

.banner input.field-auto-search {
  border-radius: 4px;
}

/* HOMEPAGE */

#bloc-stats {
  padding: 30px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 20px;
  margin-top: -60px;
  margin-bottom: 40px;
}

.stat p,
.stat span {
  text-align: center;
}

.stat span {
  font-size: 40px;
}

#how-to {
  display: flex;
  justify-content: space-between;
}

#how-to p,
#how-to h3 {
  color: white;
}

#how-to > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#how-to h3 {
  text-transform: uppercase;
  /* font-size: 25px; */
}

.how-to_title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.how-to-content {
  flex-grow: 1;
}

.scrolling-wrapper {
  /* overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper .card {
  flex: 0 0 auto;
  width: 30%;
  margin: 0 20px 20px 0;
  box-shadow: var(--shadow);
}

.card-event img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-event h4 {
  text-transform: uppercase;
  color: var(--grey);
  font-family: "DINPro_black";
}

.card-event-btns {
  display: flex;
  width: 90%;
  margin: -40px auto 5px;
}

.card-event-details {
  padding: 20px;
}

/* ------ PANEL ------ */

.infos-money .infos-money-details .info-money.detail:first-child {
  font-size: 23px;
  font-family: "DINPro_bold";
  color: var(--red);
}

.infos-money .infos-money-details .info-money.detail {
  color: var(--grey);
}

.infos-money .progress .graph-bar {
  z-index: 99;
}

/* ------ RESPONSIVE ------ */

@media screen and (max-width: 500px) {
  /* SEARCHBAR */
  #bloc-cta {
    flex-direction: column;
  }
}
