/* COLORS */

:root {
  --grey: #3c4150;
  --red: #ee0000;
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  /* --my-border: 1px solid #222222; */
}

.grey {
  color: var(--grey);
}

.bg-grey {
  background-color: var(--grey);
}

.red {
  color: var(--red);
}

.bg-red {
  background-color: var(--red);
}

* {
  color: var(--grey);
}

/* FONTS */
h1 {
  color: var(--grey);
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  color: var(--grey);
  font-size: 38px;
}

/* CONTAINER */

.container {
  padding: 0 !important;
  margin: 0 !important;
}

.container-small-bm {
}

.container-bm {
  width: 1040px;
}
.container-large-bm {
  width: 1180px;
}

/* BUTTONS */
.btn-bm {
  border-radius: 4px;
  padding: 8px 24px;
}

.btn-bm.btn-bm-large {
  padding: 8px 32px;
  width: auto;
}

/* BANNER */

.banner.homepage {
  height: 738px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://events.msf-azg.be/cdn.iraiser.eu/aNFYkuVTIVlbfsFwyLwdumXCfF7Vt32hLYoBxP08oQonh4p2FZDdlnIA1Q8Tioa+/Cecile_Dezy/origin/Homepage-Header.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
}

.banner.homepage h1 {
  color: white;
  text-shadow: var(--shadow);
  font-size: 78px;
  text-transform: initial;
}

.banner.homepage h2 {
  color: white !important;
}

/* SEARCHBAR */

#bloc-cta .searchbar {
  margin: 10px;
}

#bloc-cta {
  display: flex;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
#bloc-cta * {
  margin: 0px;
}

#bloc-cta .btn-bm {
  text-transform: initial;
}

.banner input.field-auto-search {
  border-radius: 4px;
}

/* ------ RESPONSIVE ------ */

@media screen and (max-width: 500px) {
  /* SEARCHBAR */
  #bloc-cta {
    flex-direction: column;
  }
}
