/* ------------------- ENLEVER SUR IRAISER ------------------- */

body {
  margin: 0;
}


/* ------------------- COLORS ------------------- */

/*
red : #C21B17
orange: #FF7500
purple: #982B95;
red-pastel : rgba(194,27,23,0.15);


pink: #C32762
pink-tdr: #ED217C
blue: #009CBB
darkblue: #233355
green: #4CA76B
green-m: #005B42
lightblue: #E9F4FD
yellow: #FEB700

*/




.bg-red {
  background: #C21B17;
}

.red {
  color: #C21B17;
}

.bg-red_pastel {
  background: rgba(194,27,23,0.15);
}

.bg-orange {
  background: #FF7500;
}

.orange {
  color: #FF7500;
}

.bg-purple {
  background: #982B95;
}

.purple {
  color: #982B95;
}

.bg-darkpurple {
  background: #8E1430;
}

.bg-secondary-color-blurred {
  background: white;
}


/* -------------------- FONTS -------------------- */

@font-face {
  font-family: 'Rubrik';
  src: url('https://cecile-dzy-ncl.github.io/BM/thsn/fonts/Rubrik.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubrikB';
  src: url('https://cecile-dzy-ncl.github.io/BM/thsn/fonts/Rubrik_SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Rubrik";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

h3 {
  font-family: "Rubrik";
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

p {
  font-family: "Rubrik";
  text-align: center;
}

small {
  font-size: 14px;
  line-height: 24px;
}

.font-bold {
  font-family: "RubrikB";
}

strong {
  font-family: "RubrikB";
}





/* -------------------- BUTTONS -------------------- */

.thsn .btn-bm {
  border: 3px solid #C21B17;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
  padding: 5px 30px;
}

button, .button {
  font-family: "Rubrik";
  border-radius: 25px;
}


/* -------------------- CONTAINERS -------------------- */
.container-small-bm {
  width: 800px;
}


/* -------------------- BANNERS -------------------- */

.homepage .banner {
  background: black;
  background: url(http://thsn.igive.iraiser.eu/cdn.iraiser.eu/GnYlZ4S523ycfxv69s0NDVqR4hUHBAMCFzHnet6M7yXk+8sSbJJ4JNsn1w/kcJlo/Cecile_Dezy/origin/headerhomethsn2x.jpg);
  background-size: cover;
  height: 580px;
  justify-content: center;
}

.homepage .banner h1 {
  font-size: 80px;
  line-height: 102px;
  font-family: 'Rubrik';
}


/* -------------------- NAVBAR -------------------- */

nav.top-bar#main-nav section.top-bar-section {
  background: #C21B17 !important;
}

nav.top-bar#main-nav .top-bar-section ul li > a {
  color: white;
  font-family: "Rubrik";
}

nav.top-bar .top-bar-section ul li > a:hover {
  color: white;
  -webkit-text-stroke: 1px white;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  content: none;
}


/* -------------------- HOMEPAGE -------------------- */

.stats p {
  text-align: center;
}

.stats p.stat-nb {
  font-family: 'RubrikB';
  font-size: 60px;
  line-height: 60px;
}

.section-home-projects {
  padding-top: 0px;
}

/* -------------------- CONSEILS -------------------- */

.conseils p {
  font-size: 16px;
  line-height: 23px;
}


/* -------------------- MAIN EVENTS -------------------- */

.main-event section.event-head .small-12.medium-6.columns:nth-of-type(2),
.main-event section.section-my-event {
  display: none;
}

.main-event section.event-head .small-12.medium-6.columns {
  width: 100%;
}

.main-event .card-bm {
  max-width: 32%;
  border-radius: 6px;
  overflow: hidden;
}

.main-event .card-bm p {
  line-height: 21px;
}



/* -------------------- SUB EVENTS -------------------- */

.sub-event .event-head .intro-my-event {
  padding: 30px;
}

.sub-event .event-head .intro-my-event * {
  text-align: left;
}

.sub-event .event-head .intro-my-event:after {
  background-color: #979797;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
}

.sub-event#events-show .block-share-container h4 span:after,
.sub-event#events-show .block-share-container h4 span:before {
  content: none;
}

#input.url-link {
  border: 1px solid #B4B4B4;
  padding: 5px;
  background: #F5F5F5;
  font-family: "Rubrik";
  height: 35px;
}

div#copy.url-btn {
  border: 1px solid #B4B4B4;
  padding: 5px;
  background: #F5F5F5;
  color: #C21B17;
  font-family: "Rubrik";
  height: 35px;
  cursor: pointer;
}

.people .rounded {
  border: 1px solid #C21B17;
}

section.section-my-event aside .aside-event-list {
  list-style-type: none;
  text-align: center;
  display: none;
}

/* -------------------- CARD PROJET -------------------- */

.projects-list .panel {
  border-radius: 20px;
  border: 1px solid #F0F0F0;
}


