/* ------------------- ENLEVER SUR IRAISER ------------------- */

body {
  margin: 0;
}


/* ------------------- COLORS ------------------- */

/*
red : #C21B17
orange: #FF7500
purple: #982B95;



pink: #C32762
pink-tdr: #ED217C
blue: #009CBB
darkblue: #233355
green: #4CA76B
green-m: #005B42
lightblue: #E9F4FD
yellow: #FEB700

*/




.bg-red {
  background: #C21B17;
}

.red {
  color: #C21B17;
}


.bg-orange {
  background: #FF7500;
}

.orange {
  color: #FF7500;
}

.bg-purple {
  background: #982B95;
}

.purple {
  color: #982B95;
}




/* -------------------- FONTS -------------------- */

@font-face {
  font-family: 'Rubrik';
  src: url('https://cecile-dzy-ncl.github.io/BM/thsn/fonts/Rubrik.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubrikB';
  src: url('https://cecile-dzy-ncl.github.io/BM/thsn/fonts/Rubrik_SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "Rubrik";
}

small {
  font-size: 14px;
  line-height: 24px;
}

/* -------------------- BUTTONS -------------------- */

.thsn .btn-bm {
  border: 3px solid #C21B17;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
}



/* -------------------- BANNERS -------------------- */

.homepage .banner {
  background: black;
  background: url(http://thsn.igive.iraiser.eu/cdn.iraiser.eu/GnYlZ4S523ycfxv69s0NDVqR4hUHBAMCFzHnet6M7yXk+8sSbJJ4JNsn1w/kcJlo/Cecile_Dezy/origin/imageheaderhomethsn2x.jpg);
  background-size: cover;
  height: 580px;
  justify-content: center;
}

.homepage .banner h1 {
  font-size: 80px;
  line-height: 102px;
  font-family: 'Rubrik';
}


/* -------------------- NAVBAR -------------------- */

nav.top-bar#main-nav section.top-bar-section {
  background: #C21B17 !important;
}

nav.top-bar#main-nav .top-bar-section ul li > a {
  color: white;
  font-family: "Rubrik";
}

nav.top-bar .top-bar-section ul li > a:hover {
  color: white;
  -webkit-text-stroke: 1px black;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  content: none;
}


/* -------------------- HOMEPAGE -------------------- */

.stats p {
  text-align: center;
}

.stats p.stat-nb {
  font-family: 'RubrikB';
  font-size: 60px;
  line-height: 60px;
}

.section-home-projects {
  padding-top: 0px;
}
