@import "css/style.css";

/* ------------------- COLORS ------------------- */

/*
red : #C21B17
orange: #FF7500
purple: #982B95;
red-pastel : rgba(194,27,23,0.15);


pink: #C32762
pink-tdr: #ED217C
blue: #009CBB
darkblue: #233355
green: #4CA76B
green-m: #005B42
lightblue: #E9F4FD
yellow: #FEB700

*/

.bg-red {
  background: #c21b17;
}

.red {
  color: #c21b17;
}

.bg-red_pastel {
  background: rgba(194, 27, 23, 0.15);
}

.thsn .bg-orange {
  background: #ff7500;
}

.orange {
  color: #ff7500;
}

.bg-purple {
  background: #982b95;
}

.purple {
  color: #982b95;
}

.bg-darkpurple {
  background: #8e1430;
}

.bg-secondary-color-blurred {
  background: white;
}

.main-text-color,
body {
  color: black;
}

.bg-color-light {
  background-color: white;
}

h1 {
  font-family: "Lucida";
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-family: "Lucida";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

h3 {
  font-family: "Lucida";
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

p {
  font-family: "Lucida";
  text-align: center;
}

small {
  font-size: 14px;
  line-height: 24px;
}

.font-bold {
  font-family: "LucidaB";
}

strong {
  font-family: "LucidaB";
}

/* -------------------- CONTAINERS -------------------- */
.container-small-bm {
  width: 800px;
}

/* -------------------- NAVBAR -------------------- */

nav.top-bar#main-nav section.top-bar-section {
  background: #c21b17 !important;
}

nav.top-bar#main-nav .top-bar-section ul li > a {
  color: white;
  font-family: "Lucida";
}

nav.top-bar .top-bar-section ul li > a:hover {
  color: white;
  -webkit-text-stroke: 1px white;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  content: none;
}

#header-header nav.top-bar .top-bar-section li.has-dropdown.not-click a:hover {
  color: #c21b17 !important;
  -webkit-text-stroke: 0;
}

/* -------------------- HOMEPAGE -------------------- */

.stats p {
  text-align: center;
}

.stats p.stat-nb {
  font-family: "LucidaB";
  font-size: 60px;
  line-height: 60px;
}

.section-home-projects {
  padding-top: 0px;
}

/* -------------------- PAGE EVENTS -------------------- */

.event-item .panel .event-image .wrap {
  background-color: transparent;
}

/* -------------------- CONSEILS -------------------- */

.conseils p {
  font-size: 16px;
  line-height: 23px;
}

/* -------------------- MAIN EVENTS -------------------- */

.main-event section.event-head .small-12.medium-6.columns:nth-of-type(2),
.main-event section.section-my-event {
  display: none;
}

.main-event section.event-head .small-12.medium-6.columns {
  width: 100%;
}

.main-event .card-bm {
  max-width: 32%;
  border-radius: 6px;
  overflow: hidden;
}

.main-event .card-bm p {
  line-height: 21px;
}

.main-event section#banner_section {
  display: none;
}

.main-event-banner {
  height: 300px;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-event-banner h1 {
  color: white;
  margin-top: 20px;
}

/* -------------------- SUB EVENTS -------------------- */

.sub-event .event-head .intro-my-event {
  padding: 30px;
}

.sub-event .event-head .intro-my-event * {
  text-align: left;
}

.sub-event .event-head .intro-my-event:after {
  background-color: #979797;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
}

.sub-event#events-show .block-share-container h4 span:after,
.sub-event#events-show .block-share-container h4 span:before {
  content: none;
}

.people .rounded {
  border: 1px solid #c21b17;
}

section.section-my-event aside .aside-event-list {
  list-style-type: none;
  text-align: center;
  display: none;
}

section.section-my-event aside .donators .people .rounded {
  margin-bottom: 1rem;
}

section.section-my-event aside .donators .people p {
  font-size: 17px;
  line-height: 21px;
}

section.section-my-event aside .donators .people p:last-child {
  font-family: "LucidaB";
  margin-top: 1rem;
}

.infos-money .current-amount {
  font-family: Lucida;
}

.sub-event .infos-money .small-12.large-6.columns {
  width: 100%;
}

.sub-event .infos-money .small-12.large-6.columns p {
  text-align: center !important;
}

/* -------------------- CARD PROJET -------------------- */

.projects-list .panel {
  border-radius: 20px;
  border: 1px solid #f0f0f0;
}

.projects-list .panel h3 {
  font-size: 15px;
  line-height: 17px;
}

/* -------------------- PROJECT SHOW -------------------- */

h1#show_title {
  color: black;
  font-size: 24px;
  line-height: 30px;
  margin-top: 24px;
}

.section-projet-details .columns.bg-secondary-color-blurred {
  background: #c21b17;
}

li.maybevideocontainer {
  list-style: none;
}

.row.project-detail-data.p2p-detail-data {
  padding-top: 34px;
}

.block-share-container {
  background-color: transparent;
}

section.section-projet-details .project-detail-data .project_boutons_give {
  padding-top: 0;
  height: 50px;
  min-height: auto;
  line-height: 50px;
  background-color: #faeb00 !important;
  color: black;
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Lucida";
}

section.section-projet-details .projet-head .user {
  margin-right: 20px;
}

p#show_team {
  font-size: 15px;
}

#projects-show
  section.section-projet-details
  .project-detail-data
  .infos-money
  .chart-wrap.light
  .percent {
  font-family: Lucida;
  font-size: 30px;
}

#projects-show
  section.section-projet-details
  .project-detail-data
  .current-amount {
  font-size: 50px;
}

section.section-projet-details .project-detail-data .contributeurs span {
  font-family: Lucida;
}

#projects-show .block-share-container h4 span {
  color: white;
}

#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_send,
#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_share {
  filter: invert(1);
}

.tabs dd > a {
  color: black;
  font-size: 15px;
  line-height: 22px;
}

.tabs dd.active a {
  color: white;
}

.tabs-content {
  padding-top: 50px;
}

.tabs-content p {
  text-align: left;
  font-size: 19px;
  line-height: 26px;
}

.project_event_description.columns {
  width: 550px;
  border-top: 1px solid #979797;
  padding: 50px 0 50px;
}

.project_event_description.columns p {
  font-size: 15px;
  line-height: 19px;
}

#projects-show li.comment li {
  border: none;
}

.share-wrapper {
  height: 35px;
}

input.url-link {
  border: 1px solid #b4b4b4;
  padding: 5px;
  background: #f5f5f5;
  font-family: "Lucida";
  /*width: 70%;*/
}

div#copy.url-btn {
  border: 1px solid #b4b4b4;
  padding: 5px;
  background: #f5f5f5;
  color: #c21b17;
  font-family: "Lucida";
  height: 35px;
  cursor: pointer;
  min-width: 200px;
  text-align: center;
  font-size: 15px;
  line-height: 26px;
}

#events-show .block-share-container,
#projects-show .block-share-container {
  padding: 0 0.5rem;
  width: 83.33333%;
  margin: auto;
}

.share-wrapper * {
  margin: 0 !important;
  height: 100% !important;
  margin-bottom: 35px;
}

/* -------------------- PROJECT SHOW -------------------- */

#form-project .project-image-element-selected {
  border: solid 2px #c21b17;
}

/* ------ RESPONSIVE ------ */

@media screen and (max-width: 500px) {
  .homepage .banner {
    height: auto;
    padding: 20px 10px;
  }

  .homepage .banner h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .main-event .card-bm {
    max-width: none;
  }
  .card-bm-description {
    height: auto !important;
    padding: 20px !important;
  }

  .sub-event .event-head .intro-my-event:after {
    display: none;
  }
  .url-btn#copy {
    width: 100%;
  }
  .project_event_description {
    width: 100% !important;
    padding: 20px !important;
  }
}
