@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
input,
.top-bar-section ul li > a {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
}

#indexs-index h1 {
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 30px;
}
