.section-home-projects {
  background: #fff;
  padding-top: 25px;
}

/* to remove later */
#main-nav .top-bar-section {
  /* display: flex;
    align-items: center;
    width: 100%; */
  background-color: #254aba !important;
}

#indexs-index h1 {
  font-size: 48px;
  line-height: 52px;
  margin-top: 145px;
  margin-bottom: 30px;
}

#indexs-index h2 {
  font-size: 32px;
  line-height: 38px;
  margin-top: 95px;
  margin-bottom: 50px;
}

#indexs-index .btn-bm {
  margin-bottom: 65px;
}

.tag-home {
  padding: 10px;
  color: #254aba;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}

.tag-home:after {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  width: 0;
  height: 0;
  border: var(--sizearrow) solid transparent;
  border-right-color: white;
  transform: translateY(-50%);
}

.tag-home:before {
  content: "";
  position: absolute;
  left: -45px;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-right-color: var(--bordercolor);
  transform: translateY(-50%);
}
