.section-home-projects {
  background: #fff;
  padding-top: 25px;
}

/* to remove later */
#main-nav .top-bar-section {
  /* display: flex;
    align-items: center;
    width: 100%; */
  background-color: #254aba !important;
}

#indexs-index h1 {
  font-size: 48px;
  line-height: 52px;
  margin-top: 80px;
  margin-bottom: 30px;
}

#indexs-index h2 {
  font-size: 32px;
  line-height: 38px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#indexs-index .btn-bm {
  margin-bottom: 35px;
}

.tag-home {
  padding: 23px;
  color: #254aba;
  position: relative;
  /* margin-left: 25px; */
  margin-top: 20px;
  display: inline-block;
  background: url("https://give.unibocconi.it/cdn.iraiser.eu/WOONHzZzQmvohOMIXAIqRlmgXubdF6My/B9OO/j4aimZx35eWR2wMOiIjk9qTzZC/Cecile_Dezy/origin/tag2.png");
  background-size: cover;
  background-position: center;
}

/* .tag-home:after {
  content: "";
  position: absolute;
  left: -40px;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: white;
  transform: translateY(-50%);
}

.tag-home:before {
  content: "";
  position: absolute;
  left: -45px;
  top: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-right-color: #d8d8d8;
  transform: translateY(-50%);
} */

@media screen and (max-width: 600px) {
  a.logo img {
    filter: invert(64%) sepia(11%) saturate(6462%) hue-rotate(200deg)
      brightness(77%) contrast(114%);
  }
}
