/* .event-head .details-my-event .infos-money,
#events-show .block-share-container h4,
.event-head .infos-money .chart-wrap .percent {
  color: #254aba;
} */

#projects-show section#project_tabs {
  max-width: 100%;
}

#projects-show .habillage.no-banner section#tab-nav .row {
  margin: auto;
}

#projects-show section#projet-details h1 {
  color: #254aba;
  text-align: left;
  font-size: 48px;
  max-width: 62.5rem;
  margin: auto;
  margin-top: 40px;
}

.project_payment #list_payment .people blockquote {
  background-color: #edf1ff;
  color: #254aba;
  border-left: 1px solid #edf1ff;
  margin-bottom: 0;
}

.project_payment #list_payment .people blockquote:before {
  border-color: transparent #edf1ff transparent transparent;
}

.project_payment #list_payment .people .name {
  color: #254aba;
}

.project_payment #list_payment .people .name strong {
  font-weight: 400;
}

.project_payment #list_payment .people {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgrey;
  margin: 0;
  padding: 10px 0;
}

.project_payment #list_payment .people .rounded {
  margin-bottom: 0;
}

#projects-show section#project_tabs aside {
  background-color: #254aba;
  color: white;
}

a.button.round.bordered.primary-border-color.primary-bg-color.new-gift-button.active {
  background: #4f81ff !important;
  border-color: #4f81ff !important;
  border-radius: 0;
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-share-container
  h4 {
  color: white;
}

.chart canvas {
  /* filter: contrast(0.2) grayscale(0) brightness(11); */
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-infos
  i:before {
  color: white;
}

#projects-show .crowdfunding section#tab-nav .row .tabs dd.active a,
#projects-show .crowdfunding section#tab-nav .row .tabs .tab-title.active a,
#projects-show section#tab-nav.crowdfunding .row .tabs dd.active a:after,
#projects-show
  section#tab-nav.crowdfunding
  .row
  .tabs
  .tab-title.active
  a:after {
  background-color: #254aba;
}

.custom-first {
  display: flex;
  background: #254aba;
}

.custom-first > * {
  width: 50%;
}

#crowdfundind-tabs {
  max-width: 62.5rem;
  margin: auto;
}

#projects-show section#project_tabs aside .project-detail-data .block-infos {
  display: none;
}

.new-gift-button {
  background-color: #4f81ff !important;
  border-radius: 0;
}

section#tab-nav {
  margin-bottom: 35px;
}

.row.project-detail-data.crowdfunding-detail-data {
  padding-top: 30px;
}

#projects-show .block-share-container {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}

#projects-show .block-share-container h4 {
  color: white;
  margin-right: 20px;
}

#projects-show .block-share-container .social-btns .social_network {
  width: 18%;
  margin-right: 4px;
  filter: invert(1);
}

.project-custom-description h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #254aba;
}

.tabs-content .content {
  padding: 0;
}

/* .project_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 620px;
  grid-column-gap: 20px;
}

.project_content > * {
  width: 45%;
} */

ul.pagination li.unavailable a,
ul.pagination li button.unavailable {
  color: white;
}

#projects-show .tabs-content .active.content .news_inner {
  overflow: visible;
}

#tab-nav dd:first-of-type {
  display: none;
}

#tab-nav dd {
  border-radius: 25px;
  border: 1px solid #254aba;
  margin-right: 16px;
  padding: 9px 75px;
}

#projects-show section#tab-nav .row .tabs dd.active {
  background: #254aba;
}

#projects-show section#tab-nav .row .tabs dd.active > a {
  color: white;
}

#projects-show section#tab-nav .row .tabs dd > a {
  color: #254aba;
  padding: 0;
  margin-right: 0;
}

#projects-show .habillage.no-banner section#tab-nav .row {
  border: none;
}

#projects-show section#tab-nav.crowdfunding .row .tabs dd.active a:after {
  display: none;
}

.data-custom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.data-details-custom {
  flex-grow: 1;
}

.data-custom p {
  font-size: 22px;
}

.data-custom .current-amount {
  font-size: 32px;
  margin-bottom: 8px;
}

#show_desired_amount {
  font-size: 22px;
  line-height: 38px;
  position: relative;
  margin-bottom: 0px;
}

#show_desired_amount:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 1px;
  width: 200px;
  background: white;
  opacity: 0.2;
}

p#show_days {
  margin-bottom: 0px;
}

form.edit_project,
form.edit_project > .row,
form.edit_project > .row > .columns {
  height: 100%;
}

.row.project-detail-data.crowdfunding-detail-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 30px;
}

.chart-wrap {
  height: fit-content;
  position: relative;
}

span.chart {
  color: white !important;
}

span.percent {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

#projects-show .block-share-container .social-btns {
  margin: 0;
}

a.new-gift-button {
  font-weight: normal !important;
  border-radius: 0 !important;
  position: relative;
  padding-right: 55px;
}

a.new-gift-button:after {
  content: "";
  background: url("https://give.unibocconi.it/cdn.iraiser.eu/WOONHzZzQmvohOMIXAIqRlmgXubdF6My/B9OO/j4aimZx35eWR2wMOiIjk9qTzZC/Cecile_Dezy/origin/arrow.png");
  position: absolute;
  right: 14px;
  width: 18px;
  height: 14px;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
}

#contributor:not(.active) {
  display: none;
}

.ask_edit_project {
  filter: brightness(1) contrast(1) invert(1);
}

.jours-restants {
  width: fit-content;
}

#block-desired-amount {
  margin-bottom: 60px;
}

#block-title {
  justify-content: center;
  margin: 40px 0;
}

#block-title h1#show_title {
  margin: 0 !important;
}

#block-days {
  margin-bottom: 8px;
}

#form_title {
  margin: auto;
}

.block-edit {
  display: flex;
  align-items: center;
}

.ask_edit_project {
  list-style: none;
}

.project-custom-description {
  position: relative;
}

.project_inner .group_edit_project {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 500px) {
  .custom-first,
  #projects-show .block-share-container {
    flex-direction: column;
  }

  .data-custom {
    flex-direction: column-reverse;
  }

  .custom-first > * {
    width: 100%;
  }

  #crowdfundind-tabs {
    padding: 0 30px;
  }

  .chart-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  a.button.round.bordered.primary-border-color.primary-bg-color.new-gift-button.active {
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
  }

  #projects-show .block-share-container .block-share {
    padding: 0;
  }

  #projects-show section#tab-nav {
    display: block;
  }

  #projects-show section#tab-nav .row .tabs dd.active {
    margin-bottom: 20px !important;
  }

  .tabs-content > .content {
    display: none;
  }

  .project_payment #list_payment .people .name,
  .project_payment #list_payment .people .date {
    text-align: center;
  }

  #show_desired_amount:after {
    left: 50%;
    transform: translateX(-50%);
  }
}
