#projects-show section#project_tabs {
  max-width: 100%;
}

#projects-show .habillage.no-banner section#tab-nav .row {
  margin: auto;
}

#projects-show section#projet-details h1 {
  color: #254aba;
  text-align: left;
  font-size: 48px;
  max-width: 62.5rem;
  margin: auto;
  margin-top: 40px;
}

.project_payment #list_payment .people blockquote {
  background-color: #edf1ff;
  color: #254aba;
  border-left: 1px solid #edf1ff;
}

.project_payment #list_payment .people blockquote:before {
  border-color: transparent #edf1ff transparent transparent;
}

.project_payment #list_payment .people .name {
  color: #254aba;
}

.project_payment #list_payment .people .name strong {
  font-weight: 400;
}

.project_payment #list_payment .people {
  display: flex;
  align-items: center;
}

.project_payment #list_payment .people .rounded {
  margin-bottom: 0;
}

#projects-show section#project_tabs .row aside {
  background-color: #254aba;
  color: white;
}

a.button.round.bordered.primary-border-color.primary-bg-color.new-gift-button.active {
  background: #4f81ff !important;
  border-color: #4f81ff !important;
  border-radius: 0;
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-share-container
  h4 {
  color: white;
}

.chart canvas {
  filter: contrast(0.2) grayscale(0) brightness(11);
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-infos
  i:before {
  color: white;
}

#projects-show .crowdfunding section#tab-nav .row .tabs dd.active a,
#projects-show .crowdfunding section#tab-nav .row .tabs .tab-title.active a,
#projects-show section#tab-nav.crowdfunding .row .tabs dd.active a:after,
#projects-show
  section#tab-nav.crowdfunding
  .row
  .tabs
  .tab-title.active
  a:after {
  background-color: #254aba;
}

.custom-first {
  display: flex;
}

.custom-first > * {
  width: 50%;
}

/* section#project_tabs {
  height: 457px;
  overflow: hidden;
}

#projects-show section#project_tabs .row aside {
  background-color: #254aba;
  width: 50%;
  margin-left: 0;
}

#project_tabs > .row > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#projects-show section#project_tabs > .row {
  display: flex;
  flex-direction: row-reverse;
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-infos {
  border-bottom: 0;
  display: flex;
}

.project-details-custom * {
  color: white;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
}

.new-gift-button {
  background-color: #4f81ff !important;
  border-radius: 0;
}

#crowdfundind-tabs {
  max-width: 62.5rem;
  margin: auto;
}

.project_content {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
}

.project_content * {
  width: 46%;
} */
