#projects-show section#project_tabs .row {
  max-width: 100%;
}

#projects-show .habillage.no-banner section#tab-nav .row {
  margin: auto;
}

#projects-show section#projet-details h1 {
  color: #254aba;
  text-align: left;
  font-size: 48px;
  max-width: 62.5rem;
  margin: auto;
}

.project_payment #list_payment .people blockquote {
  background-color: #edf1ff;
  color: #4c4c4c;
}

/* section#project_tabs {
  height: 457px;
  overflow: hidden;
}

#projects-show section#project_tabs .row aside {
  background-color: #254aba;
  width: 50%;
  margin-left: 0;
}

#project_tabs > .row > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#projects-show section#project_tabs > .row {
  display: flex;
  flex-direction: row-reverse;
}

#projects-show
  section#project_tabs
  .row
  aside
  .project-detail-data
  .block-infos {
  border-bottom: 0;
  display: flex;
}

.project-details-custom * {
  color: white;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 0;
}

.new-gift-button {
  background-color: #4f81ff !important;
  border-radius: 0;
}

#crowdfundind-tabs {
  max-width: 62.5rem;
  margin: auto;
}

.project_content {
  display: flex;
  flex-direction: column;
  height: 500px;
  flex-wrap: wrap;
}

.project_content * {
  width: 46%;
} */
