.intro,
.don-confiance {
  display: flex;
  align-items: center;
}

.intro-text {
  width: 70%;
}

.intro-text p,
.don-confiance p {
  text-align: left;
}

.don-confiance p {
  margin-bottom: 0;
  margin-left: 30px;
}

.intro-chiffres div {
  text-align: center;
  background: white;
  padding: 10px;
}

.intro-chiffres span {
  font-size: 15px;
}

.intro-chiffres .brush {
  font-size: 44px;
}

@media screen and (max-width: 500px) {
  .intro,
  .don-confiance {
    flex-direction: column;
  }
}
