.intro,
.don-confiance {
  display: flex;
}

.intro-text p,
.don-confiance p {
  text-align: left;
}

@media screen and (max-width: 500px) {
  .intro,
  .don-confiance {
    flex-direction: column;
  }
}
