.banner {
  position: relative;
}

.banner img {
  position: absolute;
  inset: 0;
}

.homepage .banner-text {
  width: 560px;
  margin-right: 150px;
  /* height: 65%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
