.banner {
  position: relative;
  height: 511px;
}

.banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-text {
  width: 455px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 100px;
  align-items: flex-start;
}

.banner.homepage {
  height: 637px;
}

.homepage .banner-text {
  width: 560px;
  margin-right: auto;
  margin-left: 120px;
  /* align-items: flex-start; */
}

.banner-text * {
  text-align: left;
  color: white;
}

.banner-text h1,
.banner-text p {
  margin-bottom: 32px;
}

.banner-text .btn-bm {
  margin: 0;
}

.intro .container {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .banner {
    flex-direction: column;
    background: white;
  }
  .banner-text {
    margin: 0 auto !important;
    margin-bottom: 30px !important;
  }
  .banner-text * {
    text-align: center;
    color: black;
  }
  .banner img {
    position: relative;
  }
}
