.banner {
  position: relative;
}

.banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-text {
  width: 560px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* margin-left: 120px; */
  /* height: 65%; */
  /* align-items: flex-start; */
}

.homepage .banner-text {
  /* width: 560px; */
  /* z-index: 1; */
  /* height: 65%; */
  /* display: flex;
  flex-direction: column; */
  margin-left: 120px;
  align-items: flex-start;
}

.banner-text * {
  text-align: left;
  color: white;
}

.banner-text h1,
.banner-text p {
  margin-bottom: 32px;
}

.banner-text .btn-bm {
  margin: 0;
}
