.event-head {
  padding: 40px;
}

.event-head > .bg-secondary-color-blurred {
  background-color: white;
}

.event-head .intro-my-event h1 {
  color: black;
  text-align: left;
  text-transform: uppercase;
}

.event-head .intro-my-event p {
  color: black;
  text-align: left;
}
