.event-head .intro-my-event,
.event-head .details-my-event {
  padding: 40px;
}

.event-head > .bg-secondary-color-blurred {
  background-color: white;
}

.event-head .intro-my-event h1 {
  color: black;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.event-head .intro-my-event p {
  color: black;
  text-align: left;
}

.event-head .details-my-event .infos-money,
#events-show .block-share-container h4,
.event-head .infos-money .chart-wrap .percent {
  color: var(--green);
}
