@font-face {
  font-family: "DIN Pro";
  src: url("https://cecile-dzy-ncl.github.io/BM/gustave_roussy/fonts/DINPro.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1,
h2 {
  font-family: "DIN Pro";
  text-align: center;
}

h1 {
  font-size: 46px;
  line-height: 52px;
}

h3,
h4,
h5,
h6,
p,
blockquote,
input[type="text"] {
  font-family: "Open Sans";
}
