@font-face {
  font-family: "DIN Pro Regular";
  src: url("https://soutenir.aide-et-action.org/libs.iraiser.eu/users/aideetaction/DINPro-Regular.otf");
  font-weight: normal;
}

h1,
h2 {
  /* font-family: "DIN Pro Regular"; */
  text-align: center;
}

h1 {
  font-size: 46px;
  line-height: 52px;
}

h3,
h4,
h5,
h6,
p,
blockquote,
input[type="text"] {
  font-family: "Open Sans";
}
