.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 35px;
}

.grid-programmes {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-gap: 1rem;
  margin-bottom: 35px;
}
