.stats p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}

.stats .nb {
  font-weight: bold;
}

.section-home-projects .button {
  float: none !important;
  background-color: transparent;
  border: 1px solid #3e3643;
}
