.wrapper-help {
  border-color: white;
}

.wrapper-help * {
  text-align: center;
}

.wrapper-help .btn-bm {
  width: fit-content;
  display: block;
  margin: 20px auto 40px;
}

.wrapper-programmes h2 span,
.wrapper-events h2 span {
  background: var(--pink);
  color: white;
}
