/* BANNER */

.banner {
  height: 720px;
  justify-content: flex-start;
}

.banner .banner-text {
  width: 575px;
  /* margin-left: 390px; */
  text-align: left;
}

.banner .banner-text p {
  font-family: "Source Serif Pro", serif;
}

.banner.homepage {
  background-image: url("https://soutenir.wwf.fr/cdn.iraiser.eu/lQuyif/aaQ3Y8HJC0z2azVNBKQs1e/Ruc8hr2mYMTlyfxDmyTgTeN370Ksewuyio/Jean_Lachaize/origin/mainimagearc.jpg");
}

.banner.mission {
  background-image: url("https://soutenir.wwf.fr/cdn.iraiser.eu/lQuyif/aaQ3Y8HJC0z2azVNBKQs1e/Ruc8hr2mYMTlyfxDmyTgTeN370Ksewuyio/Jean_Lachaize/origin/mainimageballon.jpg");
}

.banner.impact {
  background-image: url("https://soutenir.wwf.fr/cdn.iraiser.eu/lQuyif/aaQ3Y8HJC0z2azVNBKQs1e/Ruc8hr2mYMTlyfxDmyTgTeN370Ksewuyio/Jean_Lachaize/origin/mainimageeffetpanda.jpg");
}

.wrapper-step {
  background: url("https://soutenir.wwf.fr/cdn.iraiser.eu/lQuyif/aaQ3Y8HJC0z2azVNBKQs1e/Ruc8hr2mYMTlyfxDmyTgTeN370Ksewuyio/Jean_Lachaize/origin/fondwwf.png");
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .banner .banner-text {
    width: 100%;
    margin-left: 0px;
  }
}
