.btn-bm {
  padding: 8px 32px;
  font-family: "WWFRegular";
  font-size: 22px;
}

.button,
.button {
  background-color: var(--orange);
  border-color: var(--orange);
}

a {
  color: var(--orange);
}

section.section-projet-details .project_boutons_give {
  font-family: "WWFRegular";
  background-color: var(--orange) !important;
}

section.section-projet-details
  .project-detail-data
  .infos-money
  .chart-wrap.light
  .percent,
#projects-show .current-amount,
#projects-show .objectif-amount,
#projects-show #show_days,
#projects-show .contributeurs p {
  font-family: "WWFRegular";
}
