.btn-bm {
  padding: 8px 32px;
  font-family: "WWFRegular";
  font-size: 22px;
}

.button,
.button {
  font-family: "WWFRegular";
  background-color: var(--orange) !important;
  border-color: var(--orange);
}

a {
  color: var(--orange);
}

.btn-bm:hover,
.btn-bm:focus,
.button:hover,
.button:focus {
  background-color: #ec5b12 !important;
}
