.campagnes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.campagne-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 366px;
}

.campagne-card span {
  text-transform: uppercase;
}
