.campagnes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 21px;
}

.campagne-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 225px;
}

.campagne-card span {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 40px;
  font-family: "WWFRegular", sans-serif;
}
