#main-nav {
  box-shadow: none;
  background: #fff;
}

section.top-bar-section {
  background: #fff !important;
}

#main-nav > section > ul > li {
  border: none;
  background-color: transparent;
}

#main-nav > section > ul > li > a {
  color: black;
  font-family: "WWFRegular";
  letter-spacing: 0px;
  text-shadow: none;
  display: block;
  font-size: 22px;
}

#main-nav > section > ul > li > a:hover,
#main-nav > section > ul > li > a.active {
  background-color: transparent !important;
  color: var(--orange);
}

#main-nav section.top-bar-section li:not(:last-child):after {
  display: none;
}

header.main-header #header-header {
  margin-bottom: 0;
}

#header-header .top-bar {
  display: flex;
}

#header-header .top-bar .left {
  width: 100%;
  display: flex;
}

li.btn-bm {
  margin: 0;
  padding: 0 16px;
}

li.btn-bm a,
li.btn-bm a:hover {
  color: white;
}

a.logo img {
  margin-top: 10px;
}

.top-bar .toggle-topbar.menu-icon a span:after {
  box-shadow: 0 0px 0 1px #888, 0 7px 0 1px #888, 0 14px 0 1px #888;
}

.top-bar.expanded .title-area {
  background: #f0f0f0;
}

a[href="/users/sign_in"],
a[href="/users/sign_in"]:hover {
  background-color: transparent !important;
  color: black !important;
}
