.dash {
  height: 4px;
  width: 40px;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 15px;
}

.dash.dash-center {
  margin-left: auto;
  margin-right: auto;
}

.banner .dash {
  background-color: white;
}

.section-events .event-item .event-description .infos {
  flex-direction: row-reverse;
  display: flex;
}

.section-events .event-item .event-description .infos > div {
  text-align: left !important;
}

/* .section-events .event-item .event-details .event-goup-btn .page-see {
  display: none;
} */

@media screen and (max-width: 500px) {
  .steps img {
    height: auto !important;
    margin-top: 20px;
  }
}
