@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
/*  .banner.vglobe {
    background: url(https://mecenat-charity.vinci-energies.com/cdn.iraiser.eu/Dok4adQ4ZTci4dqsAZsmFu+Q0z+80aVCGTciQXV2DaUfuJ5bVNTH41rwAiwcjcr1/Cecile_DEZY/origin/imagepetit-coeur.jpg) center center no-repeat;
    background-size: cover;
  }*/
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-12 {
  margin-bottom: 12px;
}

.mt-130 {
  margin-top: 130px;
}

.vzone.vglobe .video__zone {
  width: 947px;
}

.vzone.vglobe .video__zone .magnificvideo {
  margin: 0;
}

.banner.vglobe {
  background: url(https://mecenat-charity.vinci-energies.com/cdn.iraiser.eu/Dok4adQ4ZTci4dqsAZsmFu+Q0z+80aVCGTciQXV2DaUfuJ5bVNTH41rwAiwcjcr1/Cecile_DEZY/origin/imagepetit-coeur.jpg) center center no-repeat;
  background-size: cover;
}

.float-right {
  float: right;
}

p.red-tornado {
  font-family: 'Vinci Sans';
  color: #e40520;
}

.mypanelzone .mpanel a {
  color: white;
  text-decoration: underline;
}

.mypanelzone .mpanel.transparent h3 {
  color: #004289;
  margin-bottom: 18px;
}

.mypanelzone .mpanel.transparent p {
  color: #000000;
}
