h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  color: black;
}

p, ul, li {
  font-family: "proximanova-regular", sans-serif;
  color: black;
}


.section-projet-details .projet-head {
  background: white;
}

.projet-head .rows {
  display: flex;
  align-items: center;
}

p.from_event {
  display: none;
}

.section-projet-details .bg-secondary-color-blurred {
  background: #F0F0F0;
}

section.section-projet-details .projet-head .user {
  margin-right: 10px;
}



section.section-projet-details h1#show_title {
  color: #000;
  font-size: 27px;
  line-height: 27px;
  margin: 0;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
}

section.section-projet-details .project_boutons_give {
  background: #FE5F5E;
  font-family: Montserrat;
}
