.banner.homepage {
  background: linear-gradient(
      137deg,
      rgba(0, 22, 61, 0.1) 0%,
      rgba(0, 22, 61, 0.4) 100%
    ),
    url("https://cagnotte.actionenfance.org/cdn.iraiser.eu/BUmjf8IUA8KMOQMJuilLjjJnA4B2w4x/HxjOtlRHgf+NacUXD1xb3V0o3OeyGIcE/Cecile_Dezy/origin/2.jpg");
  background-size: cover;
}

.banner.homepage .banner-text {
  width: 42%;
  margin-left: 60%;
}

.banner.homepage h1,
.banner.homepage p {
  text-shadow: 1px 1px 40px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 500px) {
  .banner.homepage .banner-text {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .banner,
  .banner.homepage {
    height: auto;
    padding: 100px 20px;
  }

  .banner.homepage {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: white;
  }

  .banner.homepage img {
    filter: invert(1);
  }
}
