.banner.homepage {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url("https://cagnotte.actionenfance.org/cdn.iraiser.eu/BUmjf8IUA8KMOQMJuilLjjJnA4B2w4x/HxjOtlRHgf+NacUXD1xb3V0o3OeyGIcE/Cecile_Dezy/origin/home.png");
  background-size: cover;
  background-position: center;
}

.banner.homepage .banner-text {
  width: 42%;
  margin-left: 60%;
  color: white;
}

.banner.homepage h1,
.banner.homepage p {
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.banner.homepage.bottom p {
  font-size: 20px;
}

.banner.mission {
  background: url("https://cagnotte.actionenfance.org/cdn.iraiser.eu/BUmjf8IUA8KMOQMJuilLjjJnA4B2w4x/HxjOtlRHgf+NacUXD1xb3V0o3OeyGIcE/Cecile_Dezy/origin/image008.jpg");
}

.banner.creer {
  background: url("https://cagnotte.actionenfance.org/cdn.iraiser.eu/BUmjf8IUA8KMOQMJuilLjjJnA4B2w4x/HxjOtlRHgf+NacUXD1xb3V0o3OeyGIcE/Cecile_Dezy/origin/5.jpg");
}

.banner.mission,
.banner.creer {
  background-size: cover;
  background-position: center;
  height: 500px;
}

.banner.creer + .wrapper .container-small-bm,
.banner.mission + .wrapper .container-small-bm {
  margin-top: -120px;
  background: white;
  border-radius: 8px;
  padding: 20px 40px;
}

.banner.mission + .wrapper .container-small-bm h1,
.banner.creer + .wrapper .container-small-bm h1 {
  margin-bottom: 20px;
}

#banner_section .image_banner {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

#projects-show #banner_section .image_banner {
  display: none;
}

@media screen and (max-width: 500px) {
  .banner,
  .banner.homepage {
    height: auto;
    padding: 100px 20px;
  }

  .banner.homepage {
    background-size: cover;
    background-position: left;
  }

  .banner.homepage .banner-text {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
  }

  .banner.creer + .wrapper .container-small-bm,
  .banner.mission + .wrapper .container-small-bm {
    padding: 20px;
  }
}
