.btn-bm,
button,
.button,
.btn-bm-border {
  width: max-content;
  padding: 10px 30px;
  font-size: 20px !important;
  border-radius: 0;
  border-width: 2px;
  border-color: var(--blue) !important;
}

.btn-bm,
button,
.button {
  font-weight: 700;
  font-family: "Barlow Condensed";
}

.btn-primary,
button,
.button {
  background: var(--blue);
}

.btn-bm-border {
  border-color: var(--blue);
  color: var(--blue);
}

.page-see {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
  border-color: var(--blue) !important;
  color: var(--blue);
}
