.btn-bm,
button,
.button,
.btn-bm-border {
  width: max-content;
  padding: 10px 30px;
  font-size: 20px !important;
  border-radius: 0 !important;
  border-width: 2px;
  border-color: var(--blue) !important;
  font-weight: 700;
  font-family: "Barlow Condensed";
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}

.button:hover,
.btn-bm:hover,
button:hover,
.button:focus,
.btn-bm:focus {
  background-color: #388095;
  border-color: #388095 !important;
}

.btn-bm-border:hover,
.btn-bm-border:focus {
  border-color: #388095;
  color: #388095;
}

.btn-primary,
button,
.button {
  background: var(--blue);
}

.btn-bm-border {
  border-color: var(--blue);
  color: var(--blue);
}

.bg-primary .btn-bm-border {
  border-color: white !important;
  color: white !important;
}

.page-see {
  background-color: transparent !important;
  border-width: 2px;
  border-style: solid;
  border-color: var(--blue) !important;
  color: var(--blue);
}

.page-see:hover,
.page-see:focus {
  color: var(--blue);
}

.section-home-projects a.button {
  float: none !important;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 70px;
  background: none;
  color: var(--blue);
}
