.card-bm {
  width: 24%;
  border-radius: 4px;
  overflow: hidden;
  min-height: 530px;
}

.card-bm-description {
  justify-content: flex-start;
  padding: 20px;
}

.card-bm-description > div p {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .card-bm {
    min-height: auto;
  }
  .card-bm-description {
    padding: 20px !important;
  }
}
