#events-index .event-item .panel {
  background: #f4f6f6;
}

#events-index .event-description a,
#events-index .event-description p,
#events-index .event-description .infos * {
  text-align: left !important;
}

#events-index .event-description .infos {
  display: flex;
}

#events-index .event-description .infos .teamcount {
  order: 1;
}

#events-index .event-description .infos .daysleft {
  order: 2;
}

#events-index .event-description .infos .location {
  order: 3;
}
