#events-index .event-item .panel {
  background: #f4f6f6;
}

#events-index .event-description p,
#events-index .event-description h3 {
  text-align: left;
}

#events-index .event-description .infos {
  display: flex;
}

#events-index .event-description .infos .teamcount {
  order: 1;
}
