.events-ex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.event-ex {
  width: 23%;
  box-shadow: var(--shadow);
  padding: 20px;
  border-top: 2px solid;
}

.event-ex img {
  width: 25px;
  margin-right: 20px;
}

.event-ex .sensa {
  position: relative;
}

.event-ex .sensa:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
}

.event-ex > p {
  margin: 10px auto;
  flex-grow: 1;
}

.event-ex#event-anniv {
  border-color: var(--blue);
}
.event-ex#event-memoriam {
  border-color: var(--pink);
}
.event-ex#event-defi {
  border-color: var(--green);
}
.event-ex#event-projets {
  border-color: var(--dark-blue);
}

.event-ex#event-anniv:after {
  background: var(--blue);
}
.event-ex#event-memoriam:after {
  background: var(--pink);
}
.event-ex#event-defi:after {
  background: var(--green);
}
.event-ex#event-projets:after {
  background: var(--dark-blue);
}
