.events-ex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.event-ex {
  width: 23%;
  box-shadow: var(--shadow);
  padding: 5px;
  /* background: red; */
}

.event-ex img {
  width: 25px;
  margin-right: 20px;
}

.event-ex sensa {
  border-bottom: 1px solid;
}
