.events-ex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.event-ex {
  width: 23%;
  box-shadow: var(--shadow);
  padding: 5px;
  /* background: red; */
}

.event-ex img {
  width: 25px;
  margin-right: 20px;
}

.event-ex .sensa {
  position: relative;
}

.event-ex .sensa:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
}
