/* PAGE EVENT */

.event-head .intro-my-event {
  color: black;
}

#events-show .event-head > .row {
  display: flex;
  flex-direction: column;
  background-color: white !important;
}

#events-show .event-head > .row > .columns,
#events-show .event-stats {
  width: 80%;
  margin: 0 auto;
}

#events-show .event-stats {
  display: flex;
  margin: 35px auto;
}

.event-stat {
  width: 50%;
}

.projects_count {
  border-right: 1px solid var(--mediumgrey);
}

.event-stat span {
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
}

.stat-nb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.event-head .details-my-event .button {
  margin: 0 auto;
  width: fit-content;
  padding: 0.75rem 3rem;
}

.event-head .intro-my-event * {
  text-align: center !important;
}

#events-show h1 {
  margin-top: 30px;
  color: black;
}

.event-head .intro-my-event p {
  color: black !important;
}

section.event-head {
  margin-bottom: 50px;
}

#events-show .infos-money {
  display: none;
}

#events-show .event-head .intro-my-event {
  padding: 30px;
}

.event-head .intro-my-event:after {
  display: none;
}

#events-show .block-share-container h4 span {
  color: black;
}

.event-head .details-my-event .infos-money,
#events-show .block-share-container h4,
.event-head .infos-money .chart-wrap .percent {
  color: var(--blue) !important;
}

.event-progressbar,
.event-progress-perc {
  height: 20px;
}

.event-progressbar {
  border-radius: 25px;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .event-head .intro-my-event:after {
    content: none;
  }

  .event-stat {
    width: 100%;
    margin-bottom: 15px;
  }

  .projects_count {
    border-right: 0;
    border-bottom: 1px solid var(--mediumgrey);
    padding-bottom: 15px;
  }
}
