#projects-show .notifications_intro .gritter-title {
  font-size: 1.3rem;
  padding: 0;
  font-weight: 600;
  margin: 0px auto 10px;
  text-align: center;
}

/* bouton depublication ou suppression page de collecte */
.ChoixPublication {
  width: auto;
}

div.ChoixPublication > div > a {
  line-height: initial;
  width: 100%;
}

@media (max-width: 1024px) {
  section.section-projet-details h1#show_title {
    text-align: left;
  }

  .projects-list .panel .thumbnail img {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .gritter-item .button {
    width: 100%;
  }
}
