.wrapper-help * {
  color: white;
}

.section-home-projects {
  background: var(--lightgrey);
}

#wrapper-transparence img {
  margin-right: 20px;
}

#wrapper-transparence p {
  text-align: left;
}

@media screen and (max-width: 500px) {
  #wrapper-transparence img {
    margin-right: 0px;
  }

  #wrapper-transparence p {
    text-align: center;
  }

  #principes .container-bm > .d-flex {
    flex-direction: column;
  }

  #principes .container-bm > .d-flex .w-30 {
    width: 100%;
    margin-bottom: 50px;
  }
}
