.banner {
  position: relative;
  height: 511px;
  align-items: flex-end;
  /* text-align: center; */
  justify-content: flex-start;
  padding-bottom: 50px;
}

.banner img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-text {
  width: 390px;
  z-index: 1;
  background: rgba(54, 62, 75, 0.65);
  color: white;
  padding: 60px 32px;
}

.banner .container-bm {
  z-index: 1;
}

/* .banner.homepage {
  background: var(--red);
  height: 637px;
} */

/* .banner.homepage img {
  object-position: center 72%;
}

.homepage .banner-text {
  width: 560px;
} */

.banner-text *:not(.btn-bm) {
  text-align: left;
  color: white;
}

.banner-text p {
  margin-bottom: 0px;
}

.banner-text h1 {
  margin-bottom: 32px;
}

.banner-text .btn-bm {
  margin-top: 32px;
}

.intro .container {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .banner {
    flex-direction: column;
    background: white;
    height: auto !important;
  }
  .banner-text {
    width: 100% !important;
    margin: 0 auto !important;
    align-items: center;
    padding: 30px;
  }
  .banner-text *:not(a) {
    text-align: center;
    color: #3e3643;
  }
  .banner img {
    position: relative;
  }

  /* .banner.homepage {
    padding-bottom: 0;
  } */
}
