.btn-bm {
  padding: 8px 24px;
  /* border-radius: 8px; */
  /* font-weight: 600; */
  /* font-size: 18px; */
}

.btn-bm,
button,
.button {
  font-family: "Bebas Neue";
  font-size: 30px;
  text-transform: uppercase;
  background-color: var(--orange);
  border-color: var(--orange);
  /* border-radius: 8px; */
  color: white;
  transition: background-color 0.3s ease;
}

.btn-bm.btn-bm-secondary {
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-bm:hover,
button:hover,
.button:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.btn-bm-secondary:hover {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.btn-bm,
.btn-bm[class*="bg"],
.btn-bm:hover,
.btn-bm[class*="bg"] a:hover {
  color: #fff;
}

.section-home-projects .button {
  float: none !important;
  background-color: transparent;
  border: 2px solid var(--blue);
  color: var(--blue);
  /* border-radius: 8px; */
  padding: 16px 40px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 auto 40px;
  display: block;
  width: fit-content;
  transition: background-color 0.3s ease;
}

#widget-new-project .button {
  border-radius: 8px;
  background-color: var(--red);
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 500px) {
  .btn-bm {
    padding: 16px 30px;
    font-size: 16px;
  }
}
