.btn-bm,
button,
.button {
  padding: 4px 14px 0px;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  font-size: 28px;
  text-transform: uppercase;
  background-color: var(--orange);
  border-color: var(--orange);
  /* border-radius: 8px; */
  color: white;
  transition: background-color 0.3s ease;
}

.btn-bm.btn-bm-secondary {
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-bm:hover,
button:hover,
.button:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.btn-bm-secondary:hover {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.btn-bm,
.btn-bm[class*="bg"],
.btn-bm:hover,
.btn-bm[class*="bg"] a:hover {
  color: #fff;
}

.section-home-projects .button {
  font-family: "Bebas Neue";
  float: none !important;
  background-color: transparent;
  border: 2px solid var(--blue);
  color: var(--blue);
  /* border-radius: 8px; */
  padding: 4px 14px 0px;
  font-weight: 600;
  font-size: 28px;
  margin: 0 auto 40px;
  display: block;
  width: fit-content;
  transition: background-color 0.3s ease;
}

#widget-new-project .button {
  /* border-radius: 8px; */
  padding: 4px 14px 0px;
  background-color: var(--orange);
  transition: background-color 0.3s ease;
}

.section-events .event-item .event-details .event-goup-btn {
  position: relative;
}

.section-events .event-item .event-details .event-goup-btn li {
  margin: 0;
}

.section-events .event-item .event-details .event-goup-btn .page-create,
.section-events .event-item .event-details .event-goup-btn .page-see {
  border-radius: 0px;
  font-size: 28px;
  border: 1px solid transparent;
  padding: 4px 14px 0px;
}

.section-events .event-item .event-details .event-goup-btn .page-see {
  background: transparent;
  color: var(--blue);
  border-color: var(--blue);
}

@media screen and (max-width: 500px) {
  .btn-bm {
    /* padding: 8px 24px; */
    /* font-size: 16px; */
  }
}
