#conseils .conseil {
  display: flex;
}

#conseils .conseil * {
  text-align: left;
}

#conseils .conseil span {
  color: var(--orange);
  font-family: "Bebas Neue";
  font-size: 150px;
}

#conseils .conseil p {
  font-size: 16px;
}
