#events {
  padding-bottom: 50px;
}

form#front-search-filter .columns:not(:last-child),
.event-description > div,
.event-details .row > .medium-4 {
  display: none;
}

form#front-search-filter .columns:last-child {
  float: none;
}

.event-details .row > .medium-7 {
  width: 100%;
}

#events-index .event-item .panel {
  background: var(--lightergrey);
  padding: 16px;
  border: 0;
}

#events-index h1,
#events-index .event-description a,
#events-index .event-description p,
#events-index .event-description h3,
#events-index .event-description .infos * {
  text-align: left !important;
}

#events-index .event-details .wrap {
  padding: 0px 16px;
}

#events-index .event-description h3,
#events-index .event-description p {
  color: var(--blue);
}

/* #events-index .event-item ul li {
  margin: 0;
  border-radius: 0;
}

#events-index .event-description i {
  color: grey;
}

.section-events .event-item .event-details .event-goup-btn .page-create {
  border: 2px solid var(--blue);
}

.section-events .event-item .event-details .event-goup-btn .page-see {
  background-color: var(--blue);
  border: 2px solid;
  margin-left: 10px;
  background: transparent;
  color: grey;
}

.event-description p:last-of-type {
  margin: -10px 0;
} */

@media screen and (max-width: 500px) {
  .event-item .panel .event-image .wrap {
    height: 300px;
  }

  .event-item .panel .event-image .wrap {
    height: 300px;
  }

  .event-image img,
  .section-events .event-item .event-details .event-goup-btn li {
    width: 100%;
  }

  [class*="block-grid-"] > li {
    padding: 1rem;
  }

  .section-events [class*="block-grid-"] {
    margin: 0;
  }
  .section-events .event-item .event-details .event-goup-btn .page-create,
  .section-events .event-item .event-details .event-goup-btn .page-see {
    width: 90%;
  }
}
