/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Roboto+Condensed:wght@400;700&display=swap"); */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
/* input[type="text"], */
.top-bar-section ul li > a,
body,
.block-share-container h4 {
  /* font-family: "Roboto Condensed"; */
  text-align: center;
  color: var(--blue);
}

/* .tabs dd a,
button,
.button {
  font-family: "Roboto Condensed";
} */

h1 {
  font-size: 46px;
  line-height: 52px;
}

h2 {
  font-size: 34px;
  font-weight: 600;
  /* line-height: 52px; */
}

h3 {
  font-size: 20px;
  font-weight: 600;
  /* line-height: 52px; */
}

/* .bitter {
  font-family: "Bitter";
} */

@media screen and (max-width: 500px) {
  h1 {
    font-size: 42px;
    line-height: 44px;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
  }
}
