html {
  scroll-behavior: smooth;
}

.wrapper {
  padding: 50px 0;
}

@media screen and (max-width: 500px) {
  .bg-grey .mobile_flex-column {
    flex-direction: column-reverse;
  }

  #wrapper-ex * {
    text-align: center !important;
    align-items: center;
  }
}
