/* .infos-money .infos-money-details .info-money.detail {
  color: var(--black);
} */

.panel {
  border: 1px solid lightgrey;
}
.panel.radius {
  border-radius: 0px;
}

/* .panel h3 a {
  color: var(--green);
} */

.projects-list .panel .thumbnail img {
  object-fit: cover;
  object-position: center;
}
