#my-profile .tabs .active a {
  background-color: #464646;
}

#my-profile .tabs a {
  background-color: #818181;
  display: flex;
  align-items: center;
}

#my-profile .tabs a .badge {
  margin-left: 6px;
  background-color: white;
  color: #818181;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
}
