.banner {
  height: 444px;
}

.banner.homepage {
  display: flex;
  background: var(--red);
}

.banner.homepage img {
  height: 100%;
  width: 66%;
  flex-shrink: 0;
}

.banner.homepage h1 {
  color: white;
}
