.banner {
  height: 450px;
}

.banner.homepage {
  display: flex;
  background: var(--red);
}

.banner.homepage img {
  height: 100%;
  width: 66%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.banner.homepage h1 {
  color: white;
  text-align: left !important;
  margin: 0 64px;
}

.banner.homepage h1 span {
  font-weight: 400;
}

.banner.secondary {
  position: relative;
}

.banner.secondary h1 {
  position: absolute;
  background: var(--red);
  color: white;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
