.banner {
  height: 450px;
}

.banner.homepage {
  display: flex;
  background: var(--red);
}

.banner.homepage img {
  height: 100%;
  width: 66%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: 100% 30%;
}

.banner.homepage h1 {
  color: white;
  text-align: left !important;
  margin: 0 50px;
}

.banner.homepage h1 span {
  font-weight: 400;
}

.banner.secondary {
  position: relative;
  margin-bottom: 16px;
}

.banner.secondary h1 {
  position: absolute;
  background: var(--red);
  color: white;
  padding: 8px 24px;
  left: 50%;
  bottom: -25px;
  transform: translate(-50%);
  text-transform: uppercase;
}
