/* -------------------- BUTTONS -------------------- */

.btn-bm,
button,
.button,
.projet-tabs .content .button {
  border-width: 1px;
  border-style: solid;
  border-color: var(--blue);
  background: var(--blue);
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 12px 40px;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  font-weight: 600;
  text-transform: none;
  transition: background 0.3s ease;
}

.btn-bm:hover,
button:hover,
.button:hover {
  border-color: var(--darkblue);
  background: var(--darkblue);
  color: white;
}

.btn-bm-border,
#projects-show .notifications_intro #end,
.projet-tabs .content ul li a.button,
.projet-tabs .content ul li a,
.projet-tabs .content ul li.button,
.projet-tabs .content .button {
  border-color: var(--blue);
  background: none;
  background-color: transparent;
  color: var(--blue);
  transition: background 0.3s ease;
}

.btn-bm-border:hover,
#projects-show .notifications_intro #end:hover,
.projet-tabs .content ul li a.button:hover,
.projet-tabs .content ul li a:hover,
.projet-tabs .content ul li.button:hover,
.projet-tabs .content .button:hover {
  border-color: var(--darkblue);
  background: var(--darkblue);
  background-color: var(--darkblue);
  color: white;
}

.btn-bm-border.white {
  border-color: white;
}

.btn-bm-border.white:hover {
  border-color: white;
  background: white !important;
  color: var(--blue) !important;
}

.manage-links .button {
  font-size: 12px;
  line-height: normal;
  padding: 5px;
  width: auto;
}
