/* -------------------- BUTTONS -------------------- */

.btn-bm,
button,
.button {
  border-width: 1px;
  border-style: solid;
  border-color: var(--blue);
  background: none;
  color: var(--blue);
  font-size: 18px;
  line-height: 26px;
  padding: 5px 50px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  width: max-content;
}

.manage-links .button {
  font-size: 12px;
  line-height: normal;
  padding: 5px;
  width: auto;
}
