.project-card {
  background: var(--lightgrey);
  border-radius: 4px;
  padding: 12px;
}

.project-card * {
  text-align: left;
}

.project-card h3 {
  color: var(--red);
  font-weight: 400;
  font-size: 28px;
}

.project-card > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

.project-card strong {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
