.project-card {
  background: var(--lightgrey);
  border-radius: 4px;
  padding: 4px;
}

.project-card * {
  text-align: left;
}

.project-card h3 {
  color: var(--red);
  font-weight: 400;
  font-size: 28px;
}
