/* ------------------- COLORS ------------------- */

:root {
  --lightergrey: #f0f0f0;
  --lightgrey: #f5f5f5;
  --mediumgrey: #dedede;
  --grey: #9b9b9b;
  --darkgrey: #334146;
  --darkergrey: #1c1d33;

  --red: #d3312f;
  --darkred: #af1312;
  --blue: #006b8f;
  --darkblue: #00516c;

  --shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  --primary: var(--blue);
}
