@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

h1,
h2 {
  font-family: "Roboto Condensed";
  text-align: center;
}

h2 {
  font-weight: 400;
  color: var(--blue);
}

p {
  text-align: center;
}

a {
  color: var(--red);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
}
