.grid-entreprise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.grid-entreprise > div {
  display: flex;
  flex-direction: column;
}

.grid-entreprise p {
  flex-grow: 1;
}

.grid-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 35px;
}

@media screen and (max-width: 500px) {
  .grid-projects {
    grid-template-columns: 1fr;
  }
}
