.grid-entreprise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.grid-entreprise > div {
  display: flex;
  flex-direction: column;
}

.grid-entreprise p {
  flex-grow: 1;
}

.grid-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 35px;
}

.grid-compteur,
.grid-howto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid-howto {
  grid-gap: 2rem;
}

.grid-compteur * {
  color: white;
  text-align: center;
  margin: 0;
}

.grid-actions {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.grid-publics {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--lightgrey);
  width: 400px;
  margin: auto;
  height: 600px;
  padding: 50px 0;
  margin-bottom: 30px;
}

.grid-publics > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .grid-projects,
  .grid-compteur,
  .grid-actions,
  .grid-howto {
    grid-template-columns: 1fr;
  }
}
