.placeholder-gif {
  height: 470px;
  margin-bottom: 30px;
}
.placeholder-gif img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#wrapper-ex .step {
  font-weight: bold;
}

.wrapper-help-header {
  width: 65%;
  margin: 0 auto 24px;
}

.compteur-nb {
  font-family: "Roboto Condensed";
  font-size: 33px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .collectes-dediees-fr iframe {
    width: 100%;
    height: auto;
  }
  #wrapper-ex img {
    display: none;
  }
  .wrapper-help-header {
    width: 100%;
  }
}
