.placeholder-gif {
  height: 470px;
  margin-bottom: 30px;
}
.placeholder-gif img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.collectes-dediees-fr iframe {
  width: 100%;
  height: auto;
}

#wrapper-ex img {
  display: none;
}

#wrapper-ex .step {
  font-weight: bold;
}
