.ideas .container-small-bm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ideas img {
  width: 300px;
}

.ideas p {
  margin-bottom: 0px;
  margin-left: 30px;
  text-align: left;
}

.grid-publics > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-publics > div:nth-child(even) {
  border-left: 1px solid var(--grey);
}

.grid-publics > div:nth-child(1),
.grid-publics > div:nth-child(2) {
  border-bottom: 1px solid var(--grey);
}

.grid-publics img {
  height: 90px;
}

.grid-actions h3 {
  text-align: center;
  color: white;
}
