#events-show #banner_section {
  margin-bottom: 5rem;
}

#events-show #banner_section > .row {
  max-width: 100%;
}

#events-show .event-head .block-share-container {
  display: block;
}

.projects-list .panel h3 {
  font-size: 20px;
}

.projects-list .panel {
  padding: 0;
  border-width: 0;
  position: relative;
  background: var(--lightergrey);
}

.intro-my-event {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.event-head .row {
  background: white;
}
/* 
.event-head > .row:last-of-type > .small-12.medium-6.columns:first-of-type {
  display: none;
} */

.event-head > .row:last-of-type > .small-12.medium-6.columns {
  width: 100%;
}

#events-show .block-share-container .social-btns {
  margin: 0 auto 50px !important;
  display: flex;
}

.section-my-event .first-section {
  display: flex;
  flex-direction: column;
}

.section-my-event .first-section > .columns:last-of-type {
  width: 100%;
}

ul.donators {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 80px;
}

ul.donators li {
  width: 20%;
}

section.section-my-event aside h3,
section.section-my-event aside #widget-count-gift {
  text-align: left !important;
}

@media screen and (max-width: 500px) {
  .intro-my-event {
    width: 75%;
  }
}
