/* PAGE DE COLLECTE */

#projects-show .bg-secondary-color-blurred,
.section-projet-details > .row > .bg-color-light,
.section-projet-details > .bg-color-light:last-of-type {
  background: var(--blue);
}

.section-projet-details .projet-head {
  background: white;
}

section.section-projet-details .projet-head .rounded {
  border: none;
}

.projet-head .rows {
  display: flex;
  align-items: center;
}

p.from_event,
i.fa.fa-gift {
  display: none;
}

.section-projet-details .bg-secondary-color-blurred {
  background: #f0f0f0;
}

.row.project-detail-data.p2p-detail-data {
  padding-top: 43px;
}

section.section-projet-details .projet-head .user {
  margin-right: 10px;
}

section.section-projet-details h1#show_title {
  color: var(--red);
  font-size: 30px;
  line-height: 40px;
  margin: 0;
  text-transform: uppercase;
  text-align: left;
}

p.team_by {
  font-size: 16px;
  line-height: 22px;
  color: #1c1d33;
}

.bx-wrapper .bx-viewport {
  box-shadow: none;
}

section.section-projet-details .project-detail-data .current-amount {
  font-size: 60px;
  line-height: 89px;
}

/*  section.section-projet-details .project-detail-data .current-amount,*/
section.section-projet-details .project-detail-data .contributeurs span,
section.section-projet-details .project-detail-data .jours-restants span {
  font-size: 39px;
  line-height: 27px;
  font-family: "Roboto Condensed";
}

section.section-projet-details .project-detail-data .jours-restants small,
.block-share-container h4 span {
  font-family: "Source Sans Pro";
}

section.section-projet-details .project-detail-data .jours-restants #show_days,
section.section-projet-details
  .project-detail-data
  .jours-restants
  .contributeurs {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

section.section-projet-details .project-detail-data .contributeurs {
  margin-top: 0.75rem;
}

section.section-projet-details .project_boutons_give {
  background: var(--red);
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  height: 50px;
  /*line-height: 50px;*/
  min-height: auto !important;
  background: var(--red) !important;
}

#show_team {
  background: #f3f5f0;
}

.block-share-container h4 span {
  color: black;
}

#events-show .block-share-container h4 span:after,
#events-show .block-share-container h4 span:before {
  background-color: var(--red);
}

section.section-projet-details .project-detail-data .project_boutons_join {
  background: transparent;
}

.block-share-container {
  padding-bottom: 3px;
  background: var(--blue);
}

.social_network_send,
.social_network_share,
.ask_edit_project {
  filter: invert(1);
}

#project_tabs .bg-color-light {
  background: white;
}

.tabs dd a {
  color: black;
  font-size: 16px;
  line-height: 22px;
  background: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.tabs dd.active a {
  background-color: var(--darkred);
  color: white;
}

.project_payment #list_payment .people p.money {
  color: var(--red);
}

#show_description {
  font-size: 19px;
  line-height: 24px;
  color: #000;
}

/* section#project_tabs + section .row {
  max-width: 100%;
  background: url("https://soutenir.wwf.fr/cdn.iraiser.eu/lQuyif/aaQ3Y8HJC0z2azVNBKQs1e/Ruc8hr2mYMTlyfxDmyTgTeN370Ksewuyio/Jean_Lachaize/origin/fondwwf.png");
  background-position: bottom center;
  background-size: cover;
  position: relative;
  padding: 100px 0;
} */

/* .project_event_description {
  height: 600px;
  width: 400px;
  margin-right: 150px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right !important;
  text-align: right;
} */

.credits {
  position: absolute;
  left: 30px;
  bottom: 0px;
  opacity: 0.5;
  font-style: italic;
}

.tabs-content .active.content {
  padding-top: 50px;
}

section.section-projet-details .project_boutons_give {
  font-family: "Roboto Condensed";
  background-color: var(--red) !important;
}

section.section-projet-details
  .project-detail-data
  .infos-money
  .chart-wrap.light
  .percent,
#projects-show .current-amount,
#projects-show #show_days,
#projects-show .contributeurs span {
  font-family: "Roboto Condensed";
}

@media screen and (max-width: 500px) {
  .project_event_description .w-50,
  .project_event_description iframe {
    width: 100%;
    margin-bottom: 30px;
  }
}
