#events-show #banner_section {
  margin-bottom: 5rem;
}

#events-show #banner_section > .row {
  max-width: 100%;
}

#events-show .event-head .block-share-container {
  display: block;
}

.projects-list .panel h3 {
  font-size: 20px;
}

.projects-list .panel {
  padding: 0;
  border-width: 0;
  position: relative;
  /* background: var(--lightergrey); */
}

.intro-my-event {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.event-head .intro-my-event h1 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.event-head .row {
  background: white;
}
/* 
.event-head > .row:last-of-type > .small-12.medium-6.columns:first-of-type {
  display: none;
} */

.event-head > .row:last-of-type > .small-12.medium-6.columns {
  width: 100%;
}

#events-show .block-share-container .social-btns {
  margin: 0 auto 50px !important;
  display: flex;
}

.section-my-event .first-section {
  display: flex;
  flex-direction: column;
}

.section-my-event .first-section > .columns:last-of-type {
  width: 100%;
}

ul.donators {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 80px;
}

ul.donators li {
  width: 20%;
}

section.section-my-event aside h3,
section.section-my-event aside #widget-count-gift {
  text-align: left !important;
}

.event-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-stat {
  color: black;
}

.stat-nb span {
  font-size: 40px;
  font-family: "Roboto Condensed";
  font-weight: 700;
}

.details-my-event .infos-money {
  display: none;
}

.event-head .details-my-event .button {
  width: fit-content;
  margin: 20px auto;
}

section.section-my-event .projects-list .panel h3 a,
section.section-my-event .projects-list .panel h3 a:hover,
section.section-my-event .projects-list .panel h3 a:focus {
  color: var(--darkblue);
}

section.section-my-event
  .projects-list
  .panel
  .infos-money
  .infos-money-details
  .info-money.detail {
  color: var(--darkblue);
}

@media screen and (max-width: 500px) {
  .intro-my-event {
    width: 75%;
  }
}
