.intro,
.section-home-projects {
  background-color: white;
}

.section-home-projects {
  margin-bottom: 60px;
}

.section-my-event .first-section {
  display: block;
}

.section-my-event .first-section > .columns:last-of-type {
  width: auto;
}
