.grid-howto p {
  text-align: left;
}

.grid-howto h6 {
  color: black;
  font-weight: bold;
}

.grid-howto img {
  margin-bottom: 20px;
}

#wrapper-ex h4 {
  font-family: "Roboto Condensed";
}

.step {
  font-size: 14px;
  margin-bottom: 16px;
}
