.banner.homepage {
  background: url("https://help.redcross.be/cdn.iraiser.eu/ch/vdrzIM224J80PqBVfikjruyXvm+tWBQ7A0+NbdBI89yV9+42UgBZRwjQeygwg/Cecile_Dezy/origin/mainimageH4H.jpg");
  background-size: cover;
  display: flex;
  align-items: center;

  height: calc(100vh - 143px);
}

.banner .banner-text {
  margin: 0 0 0 15%;
}

.banner.homepage .banner-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner .banner-text * {
  color: white;
  text-align: left;
}

.banner.homepage .banner-text h1,
.banner.homepage .banner-text p:last-child {
  margin-bottom: 50px;
}

.banner.homepage .banner-text p,
.banner.homepage .banner-text a {
  font-size: 22px;
  line-height: 26px;
}

.banner.homepage .banner-text .btn-bm {
  margin: initial;
}

.banner.hole_heroes {
  background: url("https://help.redcross.be/cdn.iraiser.eu/ch/vdrzIM224J80PqBVfikjruyXvm+tWBQ7A0+NbdBI89yV9+42UgBZRwjQeygwg/Cecile_Dezy/origin/mainimageH4H2x.jpg");
  background-size: cover;
  background-position: center;
  height: 291px;
}
