.eventCard {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 30px;
}

.eventCard span {
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
}

.eventCard > div {
  flex-grow: 1;
}

.eventCard img {
  margin: 0 34px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.eventCard h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.eventCard h3:nth-child(-n + 3) {
  font-size: 30px;
  line-height: 36px;
}

.eventCard p {
  display: none;
}

.eventCard p:nth-child(-n + 3) {
  display: block;
}

.eventCard.winner .btn-bm.btn-bm-border {
  border-color: color;
  border-width: 2px;
  border-style: solid;
  color: white;
}
