.eventCard {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 30px;
  background: var(--lightgrey);
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.eventCard h3 {
  color: black;
}

.eventCard.winner {
  background: var(--red);
  color: white;
}

.eventCard.winner h3,
.eventCard.winner p {
  color: white;
}

.eventCard.top3 span {
  font-size: 50px;
  line-height: 60px;
}

.eventCard span {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.eventCard > div {
  flex-grow: 1;
}

.eventCard.top3 img {
  height: 150px;
  width: 150px;
}

.eventCard img {
  margin: 0 34px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.eventCard h3 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.eventCard.top3 h3 {
  font-size: 30px;
  line-height: 36px;
}

.eventCard p {
  display: none;
  margin-bottom: 0;
}

.eventCard.top3 p {
  display: block;
}

.eventCard.winner .btn-bm.btn-bm-border {
  border-color: color;
  border-width: 2px;
  border-style: solid;
  color: white;
}
