.eventCard img,
.player_RankImg img {
  object-fit: cover;
  border-radius: 50%;
}

.eventCard {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 30px;
  background: var(--lightgrey);
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.eventCard h3,
.playerCard h3 {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
}

.eventCard.winner {
  background: var(--red);
  color: white;
}

.eventCard.winner h3,
.eventCard.winner p {
  color: white;
}

.eventCard.top3 span {
  font-size: 50px;
  line-height: 60px;
}

.eventCard span {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.eventCard > div,
.player_infos {
  flex-grow: 1;
}

.eventCard.top3 img {
  height: 150px;
  width: 150px;
}

.eventCard img,
.playerCard img {
  margin: 0 34px;
  height: 50px;
  width: 50px;
}

.eventCard.top3 h3 {
  font-size: 30px;
  line-height: 36px;
}

.eventCard p {
  display: none;
  margin-bottom: 0;
}

.eventCard.top3 p {
  display: block;
}

.eventCard .btn-bm.btn-bm-border {
  padding: 6px 80px;
}

.eventCard.winner .btn-bm.btn-bm-border {
  color: white;
  border-color: white;
}

.eventCard.top3 .btn-bm.btn-bm-border {
  padding: 12px 80px;
}

#players_card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.playerCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.playerCard.top3 {
  max-width: 270px;
  width: 30%;
  flex-direction: column;
  padding: 0px;
  background: none;
  border: 0;
}

.playerCard.top3 span {
  width: 70px;
  height: 70px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  line-height: 48px;
}

.playerCard.winner span {
  background: var(--red);
  color: white;
}

.playerCard span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  background: white;
}

.playerCard.top3 .player_RankImg {
  position: relative;
}

.playerCard.top3 .player_RankImg img {
  width: 270px;
  height: 270px;
  margin: 0 auto 32px;
}

.playerCard.top3 .player_RankImg > span {
  position: absolute;
  left: 0;
  top: 0;
}

.playerCard.top3 .player_RankImg > span span {
  display: none;
}

.playerCard h3 {
  margin-bottom: 12px;
}

.playerCard p {
  margin: 0;
}

.playerCard.top3 .player_club {
  text-transform: uppercase;
}

.playerCard.top3 p {
  text-align: center;
}

.player_amount {
  color: var(--red);
}

.player_infos h3 {
  text-align: left;
}

p.player_amount {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .eventCard,
  .playerCard {
    flex-direction: column;
  }

  .playerCard.top3 {
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .eventCard.top3 img {
    margin: 16px;
  }
}
