.event_7.main-event section.event-head,
.event_7.main-event section.event-head .columns {
  max-width: 100%;
  width: 100%;
}

.event_7.main-event section.event-head h1 {
  text-align: left;
}

.event_7.main-event .event-head .small-12.medium-6.columns:last-child,
.event_7.main-event .section-my-event {
  display: none;
}

.compteur-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.compteur-nb * {
  color: black;
  text-align: center;
}

.compteur-nb h2 {
  font-size: 50px;
  line-height: 60px;
}

.eventCard {
  background: var(--lightgrey);
  border: 1px solid lightgray;
  margin-bottom: 30px;
}

.eventCard:first-of-type {
  background: var(--red);
}
