#projects-show .section-projet-details .projet-head + .row,
#projects-show .section-projet-details .bg-secondary-color-blurred {
  background-color: var(--red);
}

#projects-show .project_boutons_give {
  background: white;
  color: var(--red);
}
