.event_7 section.event-head,
.event_7 section.event-head .columns {
  max-width: 100%;
  width: 100%;
}

.event_7 section.event-head h1 {
  text-align: left;
}

.compteur-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}

.event_7 .section_my_event {
  display: none;
}
