/* -------------------- BANNERS -------------------- */

.homepage .banner {
  background-image: url("https://thsn.igive.iraiser.eu/cdn.iraiser.eu/GnYlZ4S523ycfxv69s0NDVqR4hUHBAMCFzHnet6M7yXk+8sSbJJ4JNsn1w/kcJlo/Cecile_Dezy/origin/herobackground3x.png");
  background-size: cover;
  height: 580px;
  justify-content: center;
}

.homepage .banner img {
  width: 495px;
}

.homepage .banner.banner-country {
  background-image: url("https://thsnfr.igive.iraiser.eu/cdn.iraiser.eu/5miKfcHy40ZK5avGcRYj/toywXWDWaibbOVbPUzMA7uIhPeP8rqFTiEIlX9ratc2/Cecile_DEZY/origin/herobackground3x.png");
  height: 420px;
}

.homepage .banner.banner-country h1 {
  color: #c21b17;
  font-size: 48px;
  line-height: 56px;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .homepage .banner.banner-country h1 {
    width: 80%;
  }
}
