/* -------------------- BUTTONS -------------------- */

.thsn .btn-bm,
button,
.button {
  border: 3px solid #c21b17;
  border-color: #c21b17;
  background: none;
  color: #c21b17;
  font-size: 18px;
  line-height: 26px;
  padding: 5px 50px;
  font-family: "Raleway";
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  width: max-content;
}

.manage-links .button {
  font-size: 12px;
  line-height: normal;
  padding: 5px;
  width: auto;
}

#projects-show .notifications_intro #next,
.main-header .button,
.main-header .button {
  background: #c21b17;
  border-color: #c21b17;
}

input[type="submit"] {
  border-radius: 25px;
}

.thsn .btn-bm:hover,
button:hover,
.button:hover,
#projects-show .notifications_intro #next:hover,
.main-header .button:hover,
.main-header .button:focus {
  border-color: #941512;
}

.button:hover,
.button:focus {
  background-color: #c21b17;
  border-color: #c21b17;
}
