/* -------------------- BUTTONS -------------------- */

.thsn .btn-bm,
button,
.button {
  border: 3px solid var(--red);
  background: none;
  color: var(--red);
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
  padding: 5px 30px;
  font-family: "Rubrik";
  border-radius: 25px;
}
