.country-project {
  display: flex;
  align-items: center;
  height: 570px;
  background-color: #f3f3f3;
  margin-bottom: 50px;
}

.country-project.bg-red * {
  color: white;
}

.country-project.bg-red .btn-bm {
  border-color: white;
}

.country-project.bg-red p a {
  text-decoration: underline;
  margin-top: 20px;
  display: inline-block;
}

.country-project > * {
  width: 50%;
}

.country-project img {
  height: 100%;
  object-fit: cover;
}

.country-project > div {
  padding: 130px;
}

.country-project .btn-bm {
  font-family: "Lucida";
  text-transform: uppercase;
  width: auto;
}

@media screen and (max-width: 500px) {
  .country-project {
    flex-direction: column;
    height: auto;
  }
  .country-project img {
    width: 100%;
  }

  .country-project > div {
    padding: 35px;
    width: 100%;
  }
}
