.event-item .panel {
  border: 2px solid darkgrey;
}

.section-events .event-item .event-details .event-goup-btn {
  bottom: 25px;
}

.section-events .event-item .event-details .event-goup-btn .page-create {
  background: #c21b17;
  border: 3px solid #c21b17;
  border-radius: 25px;
  color: white;
  margin-right: 10px;
}

.section-events .event-item .event-details .event-goup-btn .page-see {
  background-color: white;
  border: 3px solid #c21b17;
  border-radius: 25px;
}

.section-events .event-item .event-description h3 {
  text-align: left;
}

.section-events .event-item .event-description h3 a {
  color: #c21b17;
}

.section-events .event-item .big {
  color: #c21b17;
}

.section-events .event-item .event-description p {
  text-align: left;
}
