.countries-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.country {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.country img {
  width: 36px;
  margin-right: 16px;
}

.country p {
  margin-bottom: 0;
}

.country a {
  color: black;
  font-size: 14px;
}

.country + hr {
  margin: 1.05rem 0 1.05rem;
}

#custom-events-list > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
