.countries-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.country {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.country img {
  width: 36px;
  margin-right: 16px;
}

.country p {
  margin-bottom: 0;
}

.country a {
  color: black;
  font-size: 14px;
}

.country + hr {
  margin: 1.05rem 0 1.05rem;
}

#custom-events-list > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#custom-events-list .event-item {
  list-style: none;
}

#custom-events-list .event-item .panel {
  background: #f3f3f3;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  border: none;
}

#custom-events-list .event-item .panel .columns {
  width: 100%;
}

#custom-events-list .event-item .panel .event-details {
  padding: 20px;
}

#custom-events-list .event-description {
  margin-bottom: 20px;
}

#custom-events-list .event-item .panel .event-goup-btn li {
  margin: auto;
}

#custom-events-list p {
  font-size: 16px;
}

#custom-events-list .event-item .panel .page-see {
  border-color: #c21b17;
  border-radius: 25px;
  border-left-width: 3px;
}

#custom-events-list .event-item .panel .infos,
#custom-events-list .event-item .panel .page-create,
#custom-events-list .event-item .panel .medium-4 {
  display: none;
}

.wrapper-help {
  background: #ff7500;
}

.wrapper-help .btn-border {
  border-color: #fff;
}

@media screen and (max-width: 500px) {
  #custom-events-list > div {
    grid-template-columns: 1fr;
  }
}
