header.main-header .dropdown li:not(.has-form):not(.active) a:not(.button) {
  background-color: #c21b17;
}

header.main-header
  .dropdown
  li:not(.has-form):not(.active)
  a:not(.button):hover {
  color: #fff !important;
}
