.thsn-country .event-head .details-my-event .infos-money,
#events-show.thsn-country .block-share-container h4,
.thsn-country .event-head .infos-money .chart-wrap .percent {
  color: #c21b17;
}

#events-show .intro-my-event h1 {
  color: #c21b17;
  margin-bottom: 20px;
  font-size: 30px;
}

/* #events-show .intro-my-event * { */
/* text-align: left; */
/* } */

section.event-head {
  margin: 65px auto;
}

.thsn-country .event-head > .row .columns:first-of-type {
  padding-right: 30px;
  border-right: 1px solid #d8d8d8;
}

.infos-money .infos-money-details .info-money.detail {
  color: #c21b17;
}

#events-show .block-share-container h4 span:after,
#events-show .block-share-container h4 span:before {
  background-color: grey;
}

@media screen and (max-width: 500px) {
  .section-my-event .small-offset-1 {
    margin-left: 0 !important;
  }

  .thsn-country .event-head > .row .columns:first-of-type {
    padding-right: 0px;
    border-right: none;
  }
}
