.wrapper.bg-orange * {
  color: white;
}

.wrapper.bg-orange .btn-bm {
  border-color: white;
}

.wrapper.help h2 {
  text-transform: uppercase;
}

.wrapper.help .btn-bm {
  text-transform: none;
}

.wrapper.help img {
  display: block;
  margin: auto;
  width: 70px;
  margin-bottom: 30px;
}

.wrapper.download {
  margin-bottom: 150px;
}
