/* COLORS */

/*
blue: #2E3092;
orange : #EF5022;
yellow : #ECAF00;
*/

/* ------------------- FONTS ------------------- */

@font-face {
  font-family: "beyond-the-mountains";
  src: url("https://cecile-dzy-ncl.github.io/BM/viva_for_life/fonts/beyond_the_mountains.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* ------------------- */

.blue {
  color: #2e3092 !important;
}

.orange {
  color: #ef5022;
}

.yellow {
  color: #ecaf00;
}

.bg-blue {
  background-color: #2e3092;
}

.bg-orange {
  background-color: #ef5022;
}

.bg-yellow {
  background-color: #ecaf00;
}

.border-blue {
  border-color: #2e3092;
}

.border-yellow {
  border-color: #fdb913 !important;
}
/* GENERAL */

body {
  font-family: "Source Sans Pro";
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-size: 60px;
}

h5 {
  font-size: 70px;
}

/*h6 {
font-size: 40px;
}*/

p {
  font-size: 15px;
  line-height: 20px;
  font-family: "Montserrat";
  text-align: center;
}

h2,
h3 {
  color: #2e3092;
}

a {
  text-decoration: none;
  color: #ef5023;
}

.font-beyond {
  font-family: "beyond-the-mountains";
}

.font-source {
  font-family: "Source Sans Pro";
}

/* BANNER & WRAPPERS & BOXES */

.banner-homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://agir.vivaforlife.be/cdn.iraiser.eu/6idKBeqjdjVcRtnL6A9qeBCllCI4cS9vXnl62IzT33g2GL6oGHWGvWlLOZdR4Xs7/Cecile_DEZY/origin/imagefondhomevivaok.jpg);
  height: 640px;
}

.container-large-bm {
  width: 1140px;
}

.container-medium-bm {
  width: 945px;
}

/* CARDS */

.card-bm {
  width: 32%;
}

.card-bm-description {
  height: 184px;
}

.card-bm-img {
  height: 256px;
}

/* BUTTONS */

.btn-bm,
.section-home-projects .button {
  color: #ffffff;
  border-radius: 22px;
  text-align: center;
  width: 300px;
  padding: 11px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.btn-bm-large {
  width: 350px;
}

.step {
  border-radius: 22px;
}

.project-bm {
  height: 570px;
}

.section-home-projects .button {
  margin: auto;
  display: block;
  background: none;
  border: 2px solid #2e3092;
  color: #2e3092;
  float: none !important;
  margin-bottom: 100px;
}

/* OVERWRITE IRAISER */

section.top-bar-section {
  background: #ef5022 !important;
}

#main-nav section.top-bar-section li {
  padding: 0px 40px;
}

#main-nav .top-bar-section li:not(.has-form) a:not(.button) {
  color: white;
  font-weight: 600;
  letter-spacing: 0.65px;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  background: #fff !important;
}

.events-index .habillage,
#projects-show .habillage,
#banner_section {
  background: #fff;
}

/* PAGE EVENTS */

#events-index .first-section {
  display: none;
}

#events-index .section-events {
  padding-top: 20px;
}

#events .event-item {
  height: 570px;
  padding: 0;
  margin-bottom: 50px;
}

#events .event-item .panel .columns {
  width: 50%;
}

#events .event-item .panel {
  height: 100%;
  border: none;
}

#events .event-item .event-image,
#events .event-item .event-image .wrap,
#events .event-item .event-details {
  height: 100%;
}

.event-item .panel .event-image .wrap {
  border-radius: 0 0 0 100px;
}

#events .event-item .event-details {
  background: #2e3092;
  border-radius: 0 100px 0 0;
}

#events .event-item .event-details .medium-7 {
  width: 100%;
}

#events .event-description {
  width: 100%;
  padding: 30px;
  margin: 0;
}

#events .event-description h3 {
  font-size: 60px;
  margin-bottom: 50px;
}

#events .event-description h3 a {
  color: #ecaf00;
  font-size: 60px;
  text-transform: uppercase;
}

.section-events .event-item p {
  color: white;
}

.section-events .event-item .event-description .infos {
  display: none;
}

#events .event-item .event-details {
  background: #2e3092;
  border-radius: 0 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#events .event-item .event-details .medium-4 {
  display: none;
}

.event-item .event-details .wrap {
  height: auto;
}

.button-group.event-goup-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: initial !important;
}

.button.page-create {
  background: #ef5022 !important;
  border-radius: 22px !important;
  color: white;
  width: 322px;
}

.button.page-see {
  color: #ecaf00;
  text-transform: initial !important;
  font-weight: 400 !important;
  border: none !important;
  background-color: transparent !important;
}

/* PAGE EVENT */

#events-show .bg-secondary-color-blurred {
  background: white;
}

#events-show .event-head .row.bg-secondary-color-blurred.collapse {
  display: flex;
  flex-direction: column;
}

#events-show .event-head .row .columns {
  width: 100%;
}

#events-show .line {
  height: 70px;
  margin: 30px;
}

.stats-event {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.stats-event-nb {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.stats-event-1 {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 41%;
}

.stats-event-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 100%;
}

.stats-event-montants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.stats-event-m-1,
.stats-event-m-2 {
  color: #000;
  font-size: 20px;
  line-height: 48px;
}

.stats-event span {
  font-size: 32px;
}

.stats-event-m-2 span {
  font-size: 20px;
}

#img-stat {
  width: 80px;
}

.stats-event .progress {
  width: 80%;
  background: none;
}

.stats-event .progress .graph-barBack {
  border-radius: 15px;
  background-color: #e2e2e2;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  overflow: hidden;
}

.stats-event .progress .graph-bar {
  border-radius: 15px;
  background-color: #ef5023;
  cursor: pointer;
  position: relative;
  z-index: 9999;
  display: block;
  height: 24px;
  width: 0%;
  float: none;
  color: #fff;
  line-height: 24px;
  text-indent: 24px;
  max-width: 100%;
}

.details-my-event {
  display: none;
}

#events-show .block-share-container {
  display: none;
}

.event-head .intro-my-event .container {
  padding: 3rem 0 0 !important;
}

.event-head .intro-my-event h1 {
  color: #040e8f;
}

.event-head .intro-my-event * {
  text-align: center !important;
}

.section-home-projects .progress .graph-bar {
  background-color: #ef5022;
}

.section-home-projects .projects-list .panel h3 a,
.projects-list .panel h3 a:focus,
.projects-list .panel h3 a:hover {
  color: #ef5022;
}

.section-home-projects .infos-money .infos-money-details .info-money.detail {
  color: black;
}

#widget-new-project .button {
  background: #ef5023;
  border-radius: 50px;
  font-weight: 600;
  margin: 15px 0 3rem 0 !important;
}

/* PAGE DE COLLECTE */

section.section-projet-details .project-detail-data .current-amount {
  font-size: 40px;
}

.projet-head {
  background: white !important;
  padding: 10px 0 !important;
}

.projet-head .medium-2 {
  display: none;
}

.projet-head .medium-3 {
  display: block !important;
}

.projet-head .medium-9 {
  width: auto !important;
}

.projet-head .medium-9 .medium-10 {
  width: 100% !important;
}

section.section-projet-details .from_event {
  padding-top: 40px;
  margin: 0 !important;
}

.section-projet-details .bg-secondary-color-blurred {
  background-color: rgb(4, 14, 143);
}

#projects-show .section-projet-details .row.collapse.bg-color-light {
  background: #040e8e;
}

#projects-show .block-share-container {
  background-color: transparent;
  padding: 0;
}

#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_send,
#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_share {
  background-color: #888888;
}

#projects-show .block-share-container h4 span {
  color: white;
}

#projects-show .current-amount,
#projects-show .objectif-amount {
  text-align: left;
}

.project_boutons_give {
  background-color: #ef5023 !important;
}

.project_boutons_join {
  background-color: #fff !important;
}

.fa-gift {
  display: none;
}

.row.project-detail-data.p2p-detail-data {
  padding-top: 14px !important;
}

.project_event_description {
  background: url(https://agir.vivaforlife.be/cdn.iraiser.eu/6idKBeqjdjVcRtnL6A9qeBCllCI4cS9vXnl62IzT33g2GL6oGHWGvWlLOZdR4Xs7/Cecile_DEZY/origin/imagefooterpagecollecteviva1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#project_tabs .bg-color-light {
  background: white;
}

h1#show_title {
  font-size: 28px;
  margin: 6px;
}

.block-share-container h4 {
  font-family: "Open Sans";
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 38px;
    line-height: 38px;
  }

  .banner.banner-homepage h1,
  .banner.banner-homepage p {
    color: #2e3092 !important;
  }

  h5 {
    font-size: 45px;
  }

  .banner.banner-homepage {
    background-color: white;
  }

  .btn-bm,
  .section-home-projects .button {
    width: 260px;
    font-size: 17px;
  }

  .button.page-create {
    width: 250px;
  }

  .mobile .top-bar.expanded .title-area,
  .mobile .top-bar.expanded section.top-bar-section {
    background: #040e8f !important;
  }

  .top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px #ffffff, 0 7px 0 1px #ffffff, 0 14px 0 1px #ffffff;
  }

  .top-bar.expanded .toggle-topbar a {
    color: #ffffff;
  }

  .mobile .font-50 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .project-bm .p-50 {
    padding: 61px 15px !important;
  }

  .a-propos-de-viva-for-life.mobile iframe {
    display: none;
  }

  #events .event-item .panel {
    display: flex;
    flex-direction: column;
  }

  #events .event-item .panel .columns {
    width: 80%;
    margin: auto;
  }

  .event-item .panel .event-image .wrap {
    border-radius: 0;
    padding: 0;
  }

  #events .event-item .panel .event-details {
    border-radius: 0;
  }

  .event-item .panel .event-details .wrap {
    padding: 20px;
  }

  #events .event-item .panel .event-details .columns {
    width: 100% !important;
  }

  .event-item .panel .event-image .wrap img {
    object-fit: cover;
  }

  #events .event-item {
    height: auto;
  }

  .comment-collecter .mobile_flex-column img {
    margin-bottom: 30px;
  }

  .project_event_description .border-top {
    width: 50%;
  }

  .project_event_description {
    background-size: contain;
    background-position: bottom;
    background-color: white;
  }

  /*  .comment-collecter .wrapper.flex-column.bg-blue.br-trbl-100.p-60.w-auto {
    padding: 20px;
  }*/

  /*  .card-bm {
    width: 85%;
    margin-bottom: 15px;
  }*/
}
