/* COLORS */

/*
blue: #2E3092;
orange : #EF5022;
yellow : #ECAF00;
*/


.vfl .blue {
  color: #2E3092 !important;
}

.vfl .orange {
  color: #EF5022;
}

.vfl .yellow {
  color: #ECAF00;
}


.vfl .bg-blue {
  background-color: #2E3092;
}

.vfl .bg-orange {
  background-color: #EF5022;
}

.vfl .bg-yellow {
  background-color: #ECAF00;
}

.vfl .border-blue {
  border-color: #2E3092;
}


.vfl-be .border-yellow {
  border-color: #FDB913 !important;
}
/* GENERAL */

body {
  font-family: "Source Sans Pro";
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

h4 {
  font-size: 60px;
}

h5 {
  font-size: 70px
}

/*h6 {
  font-size: 40px;
}*/

p {
  font-size: 15px;
  line-height: 20px;
  font-family: "Montserrat";
  text-align: center;
}

h2, h3 {
  color: #2E3092;
}

a {
  text-decoration: none;
}

/* BANNER & WRAPPERS & BOXES */

.banner-homepage {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://agir.vivaforlife.be/cdn.iraiser.eu/6idKBeqjdjVcRtnL6A9qeBCllCI4cS9vXnl62IzT33g2GL6oGHWGvWlLOZdR4Xs7/Cecile_DEZY/origin/imagefondhomeviva.jpg);
  height: 640px;
}

.vfl .container-large-bm {
  width: 1140px;
}

.vfl .container-medium-bm {
  width: 945px;
}

/* CARDS */

.vfl .card-bm {
  width: 32%;
}

.vfl .card-bm-description {
  height: 184px;
}

.vfl .card-bm-img {
  height: 256px;
}

/* BUTTONS */

.vfl .btn-bm {
  color: #FFFFFF;
  border-radius: 22px;
  text-align: center;
  width: 300px;
  padding: 11px;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
}

.vfl .step {
  border-radius: 22px;
}

.vfl .project-bm {
  height: 570px;
}

.h-335 {

}

/* OVERWRITE IRAISER */

section.top-bar-section {
  background: #ef5022 !important;
}

#main-nav section.top-bar-section li {
  padding: 0px 40px;
}

#main-nav .top-bar-section li:not(.has-form) a:not(.button) {
  color: white;
  font-weight: 600;
  letter-spacing: 0.65px;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  background: #fff !important;
}

.events-index .habillage,
#projects-show .habillage,
#banner_section {
  background: #fff;
}



/* PAGE EVENTS */

#events .event-item {
  height: 570px;
}

#events .event-item .panel .columns {
  width: 50%;
}

#events .event-item .panel {
  height: 100%;
  border: none;
}

#events .event-item .event-image,
#events .event-item .event-image .wrap,
#events .event-item .event-details {
  height: 100%;
}

.event-item .panel .event-image .wrap {
  border-radius: 0 100px;
  padding-bottom: 0;
}

#events .event-item .event-details {
  background: #2E3092;
  border-radius: 0 100px 0 0;
}

#events .event-item .event-details .medium-7 {
  width: 100%;
}

#events .event-description {
  width: 100%;
  padding: 30px;
}

#events .event-description h3 a {
  color: #ECAF00;
  font-size: 60px;
  text-transform: uppercase;
}

#events .section-events .event-item p {
  color: white;
}

#events .event-item .event-details .medium-4 {
  display: none;
}

.button-group.event-goup-btn {
  display: flex;
  flex-direction: column;
  background: red;
  align-items: center;
}

.button.page-create {
  background: #EF5022 !important;
  border-radius: 22px !important;
  color: white;
  width: 322px;
}

.button.page-see {
  color: #ECAF00;
  text-transform: initial !important;
  font-weight: 400 !important;
  border: none !important;
}
