/* COLORS */

/*
blue: #2E3092;
orange : #EF5022;
yellow : #ECAF00;
*/


.vfl .blue {
  color: #2E3092;
}

.vfl .orange {
  color: #EF5022;
}

.vfl .yellow {
  color: #ECAF00;
}


.vfl .bg-blue {
  background-color: #2E3092;
}

.vfl .bg-orange {
  background-color: #EF5022;
}

.vfl .bg-yellow {
  background-color: #ECAF00;
}


/* GENERAL */

body {
  font-family: "Source Sans Pro";
  margin: 0;
  text-align: center;
}

h1 {

}

h2 {

}

h3 {

}

h6 {
  font-size: 70px
}

p {

}

/* BANNER */

.banner-homepage {
  /*background-image: url(https://idonatefor.cancer.be/cdn.iraiser.eu/SkF5iH+rHyaVDOLTVTdkjH++Hhh/Fl7u/mAi0fjxgMMw78Jmz96L8dyknexq9tfI/Cecile_DEZY/origin/imagehomeenfantmaman.png);*/
  height: 640px;
}

/* BUTTONS */

.btn-vfl {
  border-radius: 22px;
}

