/* COLORS */

/*
blue: #2AABE2
lightblue: #E9F4FD
darkblue: #124D66
green: #54C381
yellow: #FEB700
pink: #FE5F5E
orange: #EC5C2F
*/

/* BLUE */

.f1001 .blue {
  color: #2aabe2;
}

.f1001 .bg-blue {
  background-color: #2aabe2 !important;
}

.f1001 .border-blue {
  border-color: #2aabe2 !important;
}

.f1001 .lightblue {
  color: #e9f4fd;
}

.f1001 .bg-lightblue {
  background-color: #e9f4fd !important;
}

.f1001 .border-lightblue {
  border-color: #e9f4fd !important;
}

.f1001 .darkblue {
  color: #124d66;
}

.f1001 .bg-darkblue {
  background-color: #124d66 !important;
}

.f1001 .border-darkblue {
  border-color: #124d66 !important;
}

/* GREEN */

.f1001 .green {
  color: #54c381;
}

.f1001 .bg-green {
  background-color: #54c381 !important;
}

.f1001 .border-green {
  border-color: #54c381 !important;
}

/* YELLOW */

.f1001 .yellow {
  color: #fdb913;
}

.f1001 .bg-yellow {
  background-color: #fdb913 !important;
}

/* PINK */

.f1001 .pink {
  color: #fe5f5e;
}

.f1001 .bg-pink {
  background-color: #fe5f5e !important;
}

/* ORANGE */

.f1001 .orange {
  color: #ec5c2f;
}

.f1001 .bg-orange {
  background-color: #ec5c2f !important;
}

.bg-secondary-color-blurred {
  background-color: #124d66;
}

/* GENERAL */

body {
  font-family: "Open Sans";
  text-align: center;
}

h1,
h2 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

p {
  text-align: center;
  font-size: 15px;
  line-height: 21px;
}

/* CONTAINERS */

.f1001 .container-xsmall-bm {
  width: 753px;
}

.f1001 .container-small-bm {
  width: 894px;
}

.f1001 .container-medium-bm {
  width: 947px;
}

/* BANNERS */

.banner-homepage {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/mainimage1001fontaines.jpg);
  justify-content: flex-end;
  height: 540px;
  padding-right: 150px;
}

.banner-homepage-2 {
  background-image: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/imagefilleeau2.png);
  justify-content: flex-start;
  height: 600px;
  padding-left: 150px;
}

.banner-text {
  width: 462px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage .banner-text {
  width: 560px;
}

.banner-homepage-2 .banner-text {
  border-radius: 6px;
  background-color: rgba(233, 244, 253, 0.9);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

/* BUTTONS */

a {
  text-decoration: none;
  color: #2aabe2;
}

button,
.f1001 .btn-bm,
#projects-new .habillage .button,
#contact_forms-new .habillage .button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  width: 300px;
  padding: 11px;
  border-radius: 6px;
}

#contact_forms-new .habillage .button {
  margin-bottom: 15px;
}

.f1001 .btn-bm a {
  color: #fff;
  text-decoration: none;
}

nav button {
  color: #2aabe2;
  border: 3px solid #2aabe2;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  font-weight: 300;
  background: white;
  padding: 6px;
}

.actions.row .button {
  text-transform: uppercase;
  font-family: "Open Sans";
}

#header-header .top-bar .button {
  background: white;
  border: 2px solid #29abe2;
  color: #29abe2;
  font-size: 13px;
  text-transform: uppercase;
  width: 146px;
}

/* NAVBAR*/

header.main-header .top-bar-section {
  background-color: #fff !important;
  font-size: 11px;
  font-weight: 600;
  font-family: "Open Sans";
  letter-spacing: 0.55px;
  line-height: 16px;
}

.top-bar-section ul li > a {
  color: #124d66;
  letter-spacing: 0.55px;
  font-size: 11px;
}

#main-nav section.top-bar-section li:not(:last-child):after {
  height: 16px;
  bottom: 15px;
}

#main-nav section.top-bar-section {
  border-bottom: 1px solid #979797;
}

img.logo {
  width: 211px !important;
  padding-top: 20px;
}

.projects_list .progress {
  background-color: transparent !important;
}

/* PAGE DE COLLECTE */

#wrapper-mission-header,
#wrapper-mission-footer,
#wrapper-impact-footer,
#wrapper-entreprise-footer {
  height: 1057px;
  background-size: cover !important;
}

#wrapper-impact-header {
  height: 850px;
  background-size: cover !important;
}

#wrapper-mission-header {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picmainmission.jpg);
}

#wrapper-mission-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/imagefootermission.jpg);
}

#wrapper-impact-header {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picmainimpact.jpg);
}

#wrapper-impact-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterfullimpact2x.png);
}

#wrapper-entreprise-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterentreprise.png);
}

#wrapper-ecole-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterschools.png);
}

#wrapper-ecole-footer,
#wrapper-entreprise-footer {
  height: 1650px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* PAGE DE COLLECTE */

.section-projet-details .row.collapse.bg-color-light,
.tabs dd.active a {
  background: #124d66;
}

#projects-show .block-share-container,
.projet-head {
  background: none;
}

section.section-projet-details .project-detail-data .project_boutons_give {
  height: 50px;
  min-height: 50px;
  color: #000;
  margin-top: 1rem;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.05px;
  line-height: 50px;
  background: #fec800 !important;
  padding: 0;
  text-transform: uppercase;
}

#projects-show .current-amount,
#projects-show .objectif-amount,
#projects-show #show_days,
#projects-show .contributeurs p {
  text-align: left !important;
}

#projects-show .block-share-container h4 span {
  color: white;
}

#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_send,
#projects-show
  .block-share-container
  .social-btns
  .social_network
  a
  .social_network_share {
  background-color: #577b86;
}

#project_tabs .row {
  background-color: white;
}

.project-detail-data.p2p-detail-data {
  padding-top: 25px;
}

.project_payment
  #list_payment
  .people
  p
  .project-detail-data.p2p-detail-data
  p {
  text-align: left;
}

h1#show_title {
  font-size: 23px;
}

section.section-projet-details .team_by {
  margin-left: 5px;
}

.project_content * {
  text-align: left;
  margin: 20px 0;
}

.project_event_description {
  background: url("https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picbackgroundfundraisingpage1001fontaines.jpg");
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

section.section-projet-details h1#show_title {
  text-align: left;
}

section.section-projet-details .projet-head .rounded {
  border: none;
}

.block-share-container span {
  font-family: "Open Sans";
}

.ask_edit_project {
  filter: invert(1);
}

.projects-list .panel .info-money.detail {
  color: black;
  font-size: 13px;
}

.section-home-projects h2 {
  font-size: 22px;
  color: black;
  margin-bottom: 50px;
  margin-top: 90px;
}

.section-home-projects {
  background: #fafafa;
  padding-bottom: 100px;
}

.section-home-projects .button {
  height: 40px;
  width: 300px;
  border: 2px solid #000000;
  background: transparent;
  color: #000;
  float: none !important;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 11px;
  line-height: 18px;
  font-size: 16px;
  display: block;
  margin: auto;
  font-weight: 600;
}

/* CREA PAGE DE COLLECTE */

#projects-new #step_tab {
  margin-top: 66px;
}

#projects-new #step_tab .click_tabs {
  background: #2aabe2 !important;
}

#projects-new label {
  text-align: left;
}
.controls {
  display: flex;
}

#form-project input[type="text"],
#form-project input[type="password"],
#form-project input[type="date"],
#form-project input[type="datetime"],
#form-project input[type="datetime-local"],
#form-project input[type="month"],
#form-project input[type="week"],
#form-project input[type="email"],
#form-project input[type="number"],
#form-project input[type="search"],
#form-project input[type="tel"],
#form-project input[type="time"],
#form-project input[type="url"],
#form-project input[type="color"],
#form-project select {
  border-color: black;
  background-color: white;
  width: 100%;
}

.controls .g-recaptcha {
  margin: 15px auto 30px auto;
}

#projects-new input[type="text"],
#projects-new input[type="password"],
#projects-new input[type="date"],
#projects-new input[type="datetime"],
#projects-new input[type="datetime-local"],
#projects-new input[type="month"],
#projects-new input[type="week"],
#projects-new input[type="email"],
#projects-new input[type="number"],
#projects-new input[type="search"],
#projects-new input[type="tel"],
#projects-new input[type="time"],
#projects-new input[type="url"],
#projects-new input[type="color"],
#projects-new select,
#projects-new .habillage label,
#projects-new .habillage p {
  font-size: 19px;
  line-height: 24px;
  font-family: "Open Sans";
}

#projects-new .large-3 {
  width: 100%;
}

#projects-index .section-projets,
.section-events {
  background: #fafafa;
}

.event-details .amount {
  font-size: 18px !important;
}

.event-details .big {
  margin-right: 10px;
}

#projects-index h1,
#events-index h1 {
  display: none;
}

#contact_forms-new p {
  margin: 15px 0;
}

.control-group {
  text-align: left;
}

h2.result-type:after {
  display: none;
}

ul.results {
  width: 80%;
  margin: auto;
  margin-top: 15px;
}

ul.results .people p {
  padding: 0;
}

.people .rounded {
  border: none;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #ccc;
}
.mfp-preloader a:hover {
  color: #fff;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    /*    font-size: 38px;
    line-height: 38px;*/
    margin-bottom: 15px;
  }

  h5 {
    font-size: 50px;
  }

  .banner.banner-homepage {
    background-color: white;
  }

  .banner-homepage-2 {
    padding-left: 0px;
  }

  .homepage .banner-text {
    width: 90%;
    margin: auto;
  }

  .project_event_description .border-top {
    width: 50%;
  }

  h2.w-60 {
    width: 100%;
  }

  .stats .mobile_flex-column div {
    margin-bottom: 30px;
  }

  .card-bm-description.bg-darkblue {
    height: 450px !important;
    padding: 30px 15px !important;
  }

  .section-home-projects h2 {
    padding: 0 50px;
  }

  .partenaires img {
    display: block;
    margin: 15px auto !important;
  }

  .mobile .project-bm .w-50 .p-80 {
    padding: 15px !important;
  }

  .project-bm .d-flex.w-50.p-80 {
    width: 100%;
    padding: 40px !important;
  }

  .mobile .project-bm .w-50 {
    width: 100%;
  }

  .wrapper.bg-darkblue img {
    margin: auto;
    margin-bottom: 20px;
  }

  .mobile.impliquer-son-ecole img.position-absolute {
    position: initial;
  }

  .mobile.impliquer-son-ecole .ml-50pe {
    margin: 0;
  }

  #wrapper-ecole-footer {
    background: none;
    height: auto;
  }
}
