/* COLORS */

/*
blue: #2AABE2
lightblue: #E9F4FD
darkblue: #124D66
green: #54C381
yellow: #FEB700
pink: #FE5F5E
orange: #EC5C2F
*/

/* BLUE */

.f1001 .blue {
  color: #2AABE2;
}

.f1001 .bg-blue {
  background-color: #2AABE2 !important;
}

.f1001 .border-blue {
  border-color: #2AABE2 !important;
}

.f1001 .lightblue {
  color: #E9F4FD;
}

.f1001 .bg-lightblue {
  background-color: #E9F4FD !important;
}

.f1001 .border-lightblue {
  border-color: #E9F4FD !important;
}

.f1001 .darkblue {
  color: #124D66;
}

.f1001 .bg-darkblue {
  background-color: #124D66 !important;
}

.f1001 .border-darkblue {
  border-color: #124D66 !important;
}

/* GREEN */

.f1001 .green {
  color: #54C381;
}

.f1001 .bg-green {
  background-color: #54C381 !important;
}

.f1001 .border-green {
  border-color: #54C381 !important;
}

/* YELLOW */

.f1001 .yellow {
  color: #FDB913;
}

.f1001 .bg-yellow {
  background-color: #FDB913 !important;
}

/* PINK */

.f1001 .pink {
  color: #FE5F5E;
}

.f1001 .bg-pink {
  background-color: #FE5F5E !important;
}

/* ORANGE */

.f1001 .orange {
  color: #EC5C2F;
}

.f1001 .bg-orange {
  background-color: #EC5C2F !important;
}

.bg-secondary-color-blurred {
  background-color: #124D66;
}

/* GENERAL */

body {
  font-family: "Open Sans";
  text-align: center;
}

h1, h2 {
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
}

p {
  text-align: center;
  font-size: 15px;
  line-height: 21px;
}

/* CONTAINERS */

.f1001 .container-xsmall-bm {
  width: 753px;
}

.f1001 .container-small-bm {
  width: 894px;
}

.f1001 .container-medium-bm {
  width: 947px;
}



/* BANNERS */

.banner-homepage {
  background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.8)), url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/mainimage1001fontaines.jpg);
  justify-content: flex-end;
  height: 540px;
  padding-right: 150px;
}

.banner-homepage-2 {
  background-image: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/imagefilleeau2.png);
  justify-content: flex-start;
  height: 600px;
  padding-left: 150px;
}

.banner-text {
  width: 462px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage .banner-text {
  width: 560px;
}

.banner-homepage-2 .banner-text {
  border-radius: 6px;
  background-color: rgba(233,244,253,0.9);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

/* BUTTONS */

a {
  text-decoration: none;
  color: #2AABE2;
}

button, .f1001 .btn-bm, .actions.row .button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  width: 300px;
  padding: 11px;
  border-radius: 6px;
}

.f1001 .btn-bm a {
  color: #fff;
  text-decoration: none;
}


nav button {
  color: #2AABE2;
  border: 3px solid #2AABE2;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  font-weight: 300;
  background: white;
  padding: 6px;
}

.actions.row .button {
  text-transform: uppercase;
  font-family: "Open Sans";
}

/* NAVBAR*/

header.main-header .top-bar-section {
    background-color: #fff !important;
}


.top-bar-section ul li > a {
    color: #124d66;
    letter-spacing: 0.55px;
    font-size: 11px;
}

#main-nav section.top-bar-section li:not(:last-child):after {
    height: 16px;
    bottom: 15px;
}

#main-nav section.top-bar-section {
    border-bottom: 1px solid #979797;
}

img.logo {
  width: 211px !important;
  padding-top: 20px;
}


.projects_list .progress {
  background-color: transparent !important;
}

/* PAGE DE COLLECTE */

#wrapper-mission-header,
#wrapper-mission-footer,
#wrapper-impact-footer,
#wrapper-entreprise-footer {
  height: 1057px;
  background-size: cover !important;
}

#wrapper-impact-header {
  height: 850px;
  background-size: cover !important;
}

#wrapper-mission-header {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picmainmission.jpg);
}

#wrapper-mission-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/imagefootermission.jpg);
}

#wrapper-impact-header {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picmainimpact.jpg);
}

#wrapper-impact-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterfullimpact2x.png);
}

#wrapper-entreprise-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterwkconstructionentreprise2x.png);
}

#wrapper-ecole-footer {
  background: url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picfooterschools.png);
  height: 1650px;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}




/* PAGE DE COLLECTE */

.section-projet-details .row.collapse.bg-color-light,
.tabs dd.active a {
  background: #124D66;
}

#projects-show .block-share-container,
.projet-head {
  background: none;
}

section.section-projet-details .project-detail-data .project_boutons_give {
  height: 50px;
  min-height: 50px;
  color: #000;
  margin-top: 1rem;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1.05px;
  line-height: 50px;
  background: #FEC800 !important;
  padding: 0;
  text-transform : uppercase;
}

#projects-show .current-amount,
#projects-show .objectif-amount,
#projects-show #show_days,
#projects-show .contributeurs p {
  text-align: left !important;
}

#projects-show .block-share-container h4 span {
  color: white;
}

#projects-show .block-share-container .social-btns .social_network a .social_network_send,
#projects-show .block-share-container .social-btns .social_network a .social_network_share {
  background-color: #577b86;
}

#project_tabs .row {
    background-color: white;
}

.project-detail-data.p2p-detail-data {
  padding-top: 25px;
}

.project_payment #list_payment .people p
.project-detail-data.p2p-detail-data p {
  text-align: left;
}

h1#show_title {
  font-size: 23px;
}

section.section-projet-details .team_by {
  margin-left: 5px;
}

.project_content * {
  text-align: left;
  margin: 20px 0;
}

.project_event_description {
  background: url("https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/picbackgroundfundraisingpage1001fontaines.jpg");
  width: 100%;
}

section.section-projet-details h1#show_title {
  text-align: left;
}

section.section-projet-details .projet-head .rounded {
  border: none;
}

.block-share-container span {
    font-family: "Open Sans";
}

.ask_edit_project {
  filter: invert(1);
}

.projects-list .panel .info-money.detail {
  color: black;
  font-size: 13px;
}

.section-home-projects h2 {
    font-size: 22px;
    color: black;
    margin-bottom: 50px;
    margin-top: 90px;
}

.section-home-projects {
    background: #FAFAFA;
    padding-bottom: 100px;
}

.section-home-projects .button {
    height: 40px;
    width: 300px;
    border: 2px solid #000000;
    background: transparent;
    color: #000;
    float: none !important;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    padding: 11px;
    line-height: 18px;
    font-size: 16px;
    display: block;
    margin: auto;
    font-weight: 600;
}

/* CREA PAGE DE COLLECTE */

#projects-new #step_tab {
  margin-top: 66px;
}

#projects-new #step_tab .click_tabs {
  background: #2AABE2 !important;
}

#projects-new label {
  text-align: left;
}
.controls {
  display: flex;
}

#form-project input[type="text"],
#form-project input[type="password"],
#form-project input[type="date"],
#form-project input[type="datetime"],
#form-project input[type="datetime-local"],
#form-project input[type="month"],
#form-project input[type="week"],
#form-project input[type="email"],
#form-project input[type="number"],
#form-project input[type="search"],
#form-project input[type="tel"],
#form-project input[type="time"],
#form-project input[type="url"],
#form-project input[type="color"],
#form-project select {
  border-color: black;
  background-color: white;
}

#form-project .controls .g-recaptcha {
  margin: 15px auto 30px auto;
}

#projects-new input[type="text"],
#projects-new input[type="password"],
#projects-new input[type="date"],
#projects-new input[type="datetime"],
#projects-new input[type="datetime-local"],
#projects-new input[type="month"],
#projects-new input[type="week"],
#projects-new input[type="email"],
#projects-new input[type="number"],
#projects-new input[type="search"],
#projects-new input[type="tel"],
#projects-new input[type="time"],
#projects-new input[type="url"],
#projects-new input[type="color"],
#projects-new select,
#projects-new .habillage label, #projects-new .habillage p {
    font-size: 19px;
    line-height: 24px;
    font-family: "Open Sans";
}

#projects-new  .large-3 {
  width: 100%;
}

#projects-index .section-projets,
.section-events {
  background: #fafafa;
}

.event-details .amount {
  font-size: 18px !important;
}

.event-details .big {
  margin-right: 10px;
}

#projects-index h1, #events-index h1 {
  display: none;
}

@media screen and (max-width: 500px) {


  h1 {
/*    font-size: 38px;
    line-height: 38px;*/
    margin-bottom: 15px;
  }

  h5 {
    font-size: 50px;
  }

  .banner.banner-homepage {
    background-color: white;
  }

  .banner-homepage-2 {
    padding-left: 0px;
  }

  .homepage .banner-text {
    width: 90%;
    margin: auto;
  }

  .project_event_description .border-top {
    width: 50%;
  }

  h2.w-60 {
    width: 100%;
  }

  .stats .mobile_flex-column div {
    margin-bottom: 30px;
  }

  .card-bm-description.bg-darkblue {
    height: 450px !important;
    padding: 30px 15px!important;
  }

  .section-home-projects h2 {
    padding: 0 50px;
  }

}
