/* COLORS */

/*
blue: #2AABE2
lightblue: #E9F4FD
darkblue: #124D66
green: #54C381
yellow: #FEB700
pink: #FE5F5E
orange: #EC5C2F
*/

/* BLUE */

.f1001 .blue {
  color: #2AABE2;
}

.f1001 .bg-blue {
  background-color: #2AABE2 !important;
}

.f1001 .border-blue {
  border-color: #2AABE2 !important;
}

.f1001 .lightblue {
  color: #E9F4FD;
}

.f1001 .bg-lightblue {
  background-color: #E9F4FD !important;
}

.f1001 .border-lightblue {
  border-color: #E9F4FD !important;
}

.f1001 .darkblue {
  color: #124D66;
}

.f1001 .bg-darkblue {
  background-color: #124D66 !important;
}

.f1001 .border-darkblue {
  border-color: #124D66 !important;
}

/* GREEN */

.f1001 .green {
  color: #54C381;
}

.f1001 .bg-green {
  background-color: #54C381 !important;
}

.f1001 .border-green {
  border-color: #54C381 !important;
}

/* YELLOW */

.f1001 .yellow {
  color: #FDB913;
}

.f1001 .bg-yellow {
  background-color: #FDB913 !important;
}

/* PINK */

.f1001 .pink {
  color: #FE5F5E;
}

.f1001 .bg-pink {
  background-color: #FE5F5E !important;
}

/* ORANGE */

.f1001 .orange {
  color: #EC5C2F;
}

.f1001 .bg-orange {
  background-color: #EC5C2F !important;
}


/* GENERAL */

body {
  font-family: "Open Sans";
  text-align: center;
}

h1, h2 {
  font-size: 25px;
  line-height: 28px;
}

p {
  text-align: center;
  font-size: 15px;
  line-height: 21px;
}

/* BANNERS */

.banner-homepage {
  background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.8)), url(https://my.1001fontaines.com/cdn.iraiser.eu/m9MaVYwwkucRUTPdHQC4aeW+95lb7aQMc2sHX4S8lbbyAPa6k7LFwuu93H5DooKb/Alise_Andre/origin/mainimage1001fontaines.jpg);
  justify-content: flex-end;
  height: 540px;
  padding-right: 150px;
}

.banner-text {
  width: 462px;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* BUTTONS */

a {
  text-decoration: none;
  color: #2AABE2;
}

button, .f1001 .btn-bm {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  width: 300px;
  padding: 11px;
  border-radius: 6px;
}

.f1001 .btn-bm a {
  color: #fff;
  text-decoration: none;
}
/*
.section-events .event-item .event-details .event-goup-btn .page-see {
  background-color: transparent;
  border: 2px solid #00AC98;
  color: #00AC98;
}*/

nav button {
  color: #2AABE2;
  border: 3px solid #2AABE2;
  font-size: 13px;
  letter-spacing: 0.87px;
  width: 146px;
  font-weight: 300;
  background: white;
  padding: 6px;
}


