#indexs-index .banner.homepage .banner-text {
  width: 50%;
  margin: 0 0 0 50%;
  position: initial;
  background-color: transparent;
  margin-bottom: 100px;
}

.banner.homepage span.title {
  font-size: 40px;
  line-height: 50px;
  font-family: "Josefin Sans", sans-serif;
}

.banner.homepage .banner-title {
  text-align: left;
}

.banner.homepage {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 90%);
  /* , */
  /* url("https://collecter.petitsfreresdespauvres.fr/cdn.iraiser.eu/dK+y9Y0kxwRuebwOLklx7LLsEkP8toQ69NrsP9gRopr2N8g7khIIWnSL3h0yDmW//Cecile_Dezy/origin/20200422PFP.png"); */
  background-size: cover;
  background-position: center;
  height: 680px;
}

.banner.homepage img:first-of-type {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .banner.homepage {
    background-size: cover;
    background-position: center;
    align-items: flex-start;
  }

  #indexs-index .banner.homepage .banner-text {
    width: 100%;
    margin: 50px 0 150px;
  }

  .banner.homepage span.title {
    font-size: 30px;
    line-height: 30px;
  }

  #indexs-index .banner.homepage .banner-text h1 {
    font-size: 45px;
    line-height: initial;
    margin-top: 10px;
  }
}
