.btn-bm {
  color: white;
  padding: 1.5rem 3.5rem;
  border-radius: 50px;
  font-weight: 500;
  font-size: 20px;
  width: fit-content;
  text-transform: none;
}

.big-pill {
  width: 90%;
  border-radius: 0px 230px 230px 0px;
}

.pill-white {
  border: 1px solid white;
}

@media screen and (max-width: 500px) {
  .btn-bm {
    padding: 15px;
  }

  .big-pill {
    width: 100%;
    border-radius: 0px;
  }
  .big-pill>div {
    padding: 0px;
    margin: 0px auto;
  }
}
