/* ******************* STATS *********************** */

.stat-card {
  width: 28%;
}

.stat-number {
  font-size: 70px;
  color: white;
  -webkit-text-stroke: 2.5px var(--blue);
  text-align: center;
  display: block;
}

@media screen and (max-width: 500px) {
  .stat-card {
    width: 100%;
    margin-bottom: 25%;
  }
}

/* ******************* CARDS *********************** */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

#indexs-index .card {
  min-height: 450px;
  cursor: pointer;
  color: black;
  position: relative;
  transition: all 0.3s;
  border-radius: 0;
}

#indexs-index .card:hover {
  /* transform: scale(1.02); */
  box-shadow: 3px 3px 0px #dcd4d4;
}

.card a {
  color: black;
}

.card-top {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.pill {
  position: absolute;
  height: 70px;
  width: 70%;
  border-radius: 0px 50px 50px 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.pill-icon {
  margin-right: 1rem;
  /* color: white; */
  font-size: 20px;
}

.card .pill-icon a,
.card .pill-text a {
  color: white;
}

.pill-text {
  font-weight: 500;
  font-size: 20px;
  /* color: #ffffff; */
}

.pill-text a {
  display: flex;
  align-items: center;
}

.pill img {
  height: 25px;
  margin-right: 20px;
}

.card-bottom {
  height: 50%;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem 0;
  background-color: var(--lightergrey);
}


/* ********** TESTIMONIALS ******************* */

.testimonials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.testimonial {
  min-width: 288px;
  min-height: 288px;
}

.testimonial-text{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.testimonial-title {
  font-weight: 600;
  font-size: 18px;
}




@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
  }
  .pill-text {
    font-size: 20px;
  }
  .card-text {
    font-size: 14px;
  }
  .card-bottom {
    padding: 20px 5% 0 5%;
  }

  .pill {
    padding-left: 12px;
  }

  .pill img {
    margin-right: 12px;
  }
  
  .testimonials {
    display: grid;
    grid-template-columns: none;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

}
