/* ------------------- FONTS ------------------- */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Montserrat:wght@300;400;500;600&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: left;
  margin-top: 0;
}

h1,
h4,
h6 {
  font-family: "Josefin Sans", sans-serif;
}

h2,
h3,
h5,
p,
span {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  line-height: 39px;
  /* color: black; */
}

h2.intertitre {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
h2.intertitre:before {
  width: 20px;
  height: 6px;
  background-color: var(--red);
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: black;
}

h4 {
  font-size: 30px;
  line-height: 30px;
}

h5 {
  font-size: 24px;
  line-height: 29px;
}

p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
}

span.stat-number {
  font-size: 70px;
  line-height: 85px;
}

span.why-fund {
  margin: 0px;
  font-size: 200px;
  color: var(--red);
  font-family: "Montserrat";
  position: relative;
}

span.why-fund::before {
  content: attr(data-number);
  font-family: "Montserrat";
  margin: 0px;
  font-size: 200px;
  color:transparent;
  -webkit-text-stroke: 3px var(--burgundy);
  position: absolute;
  top: 4px;
  left: -7px;
}

@media screen and (max-width: 500px) {
  h1 {
    /* font-size: 30px; */
  }

  h1#show_title {
    text-align: center;
  }

  span.why-fund {
    font-size: 130px;
    min-width: 25%;
  }
  
  span.why-fund::before {
    font-size: 130px;
    min-width: 25%;
  }

}
